# Lecture 22
## Thursday, November 18th 2021
### Joins with `SQLite` and `pandas`

## Starting Up

You can connect to the saved database from last time if you want.
Alternatively, for extra practice, you can just recreate it from the datasets
provided in the `.txt` files.  That's what I'll do.

# Exercise Deliverables

> 1. Make a copy of this notebook and call it `L22_Exercises.ipynb`.
> 2. Do all exercises in _code cell(s) immediately after the "Exercise"
>    statement_ similarly to what you did in Lecture 21.
> 3. Be sure to upload your database with the
>    lecture exercises. You must name your database **`L22DB.sqlite`** and
>    **`L22DB_pandas.sqlite`**.
> 4. Commit your completed work to your class `git` repo inside the directory
>    `lectures/lecture22` on the `main` (or `master`) branch, similarly to what
>    you did in Lecture 21.

In [21]:
import sqlite3
import numpy as np
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

db = sqlite3.connect('L22DB.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

db.commit()

with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        vals_to_insert = line.strip().split('|')
        cursor.execute('''INSERT INTO candidates 
                  (id, first_name, last_name, middle_init, party)
                  VALUES (?, ?, ?, ?, ?)''', vals_to_insert)

with open ("contributors.txt") as contributors:
    next(contributors) # jump over the header
    for line in contributors.readlines():
        vals_to_insert = line.strip().split('|')[1:]
        cursor.execute('''INSERT INTO contributors (last_name, first_name, middle_name, 
                           street_1, street_2, city, state, zip, amount, date, candidate_id) 
                           VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)

candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]

def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = dict()
    for i, col_name in enumerate(cols):
        framelist[col_name] = [col[i] for col in q]
    return pd.DataFrame.from_dict(framelist)

from IPython.display import display

## Recap

Last time, you played with a number of `SQLite` commands to query and update the
tables in the database.

One thing we didn't get to was how to query the contributors table based off of
a query in the candidates table.  For example, suppose you want to query which
contributors donated to Obama. You could use a nested `SELECT` statement to
accomplish that.

In [22]:
query = '''SELECT * FROM contributors WHERE candidate_id = (SELECT id from candidates WHERE last_name = "Obama")'''
viz_tables(contributor_cols, query)

    id last_name first_name middle_name                     street_1 street_2             city state        zip   amount        date  candidate_id
0   26   Buckler      Steve                          24351 Armada Dr                Dana Point    CA  926291306    50.00  2007-07-30            20
1   27   Buckler      Steve                          24351 Armada Dr                Dana Point    CA  926291306    25.00  2007-08-16            20
2   28  Buckheit      Bruce                            8904 KAREN DR                   FAIRFAX    VA  220312731   100.00  2007-09-19            20
3   29    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130  2300.00  2007-08-14            20
4   30    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130 -2300.00  2007-08-14            20
5   31    Buckel      Linda                            PO Box 683130                 Park City    UT  840683130  4600.00  2007-08-14            20
6   32      Buck     Thomas                      4206 Terrace Street               Kansas City    MO      64111   100.00  2007-09-25            20
7   33      Buck        Jay          K.  1855 Old Willow Rd Unit 322                Northfield    IL  600932918   200.00  2007-09-12            20
8   34      Buck     Blaine           M                 45 Eaton Ave                    Camden    ME  048431752  2300.00  2007-09-30            20
9   35      Buck    Barbara                         1780 NE 138th St               North Miami    FL  331811316    50.00  2007-09-13            20
10  36      Buck    Barbara                         1780 NE 138th St               North Miami    FL  331811316    50.00  2007-07-19            20
11  37   Buchman     Mark M                          2530 Lawton Ave           San Luis Obispo    CA  934015622   460.80  2007-07-18            20
12  38    Bucher        Ida           M             1400 Warnall Ave               Los Angeles    CA  900245333   100.00  2007-07-10            20
13  39  Buchanek  Elizabeth                         7917 Kentbury Dr                  Bethesda    MD  208144615    50.00  2007-09-30            20
14  40  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-09-24            20
15  41  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  -500.00  2007-09-24            20
16  42  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-09-24            20
17  43  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   700.00  2007-08-28            20
18  44  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  -700.00  2007-08-28            20
19  45  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  1000.00  2007-08-28            20
20  46  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303  1300.00  2007-08-09            20
21  47  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   200.00  2007-08-14            20
22  48  Buchanan       John                          2025 NW 29th Rd                Boca Raton    FL  334316303   500.00  2007-07-25            20
23  49  Buchanan       John                          4635 49th St NW                Washington    DC  200164320   200.09  2007-09-23            20
24  50  Harrison       Ryan                              2247 3rd St                  La Verne    CA  917504918    25.00  2007-07-26            20

# Joins

The last example involved querying data from multiple tables.

In particular, we combined columns from the two related tables (related through
the `FOREIGN KEY`).

This leads to the idea of *joining* multiple tables together.  `SQL` has a set
of commands to handle different types of joins.  `SQLite` does not support the
full suite of join commands offered by `SQL` but you should still be able to get
the main ideas from the limited command set.

We'll begin with the `INNER JOIN`.

## INNER JOIN

The idea here is that you will combine the tables if the values of certain
columns are the same between the two tables.  In our example, we will join the
two tables based on the candidate `id`.  The result of the `INNER JOIN` will be
a new table consisting of the columns we requested and containing the common
data.  Since we are joining based off of the candidate `id`, we will not be
excluding any rows.

### Example

Here are two tables.  Table A has the form:

| nA   | attr  | idA |
| :::: | ::::: | ::: |
| s1   | 23    | 0   |
| s2   | 7     | 2   |

and table B has the form:

| nB   | attr  | idB |
| :::: | ::::: | ::: |
| t1   | 60    | 0   |
| t2   | 14    | 7   |
| t3   | 22    | 2   |

Table A is associated with Table B through a foreign key on the id column.

If we join the two tables by comparing the id columns and selecting the nA, nB,
and attr columns then we'll get 

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| s2   | 7       | t3  | 22     |


The `SQLite` code to do this join would be 

```SQL
SELECT nA, A.attr, nB, B.attr FROM A INNER JOIN B ON B.idB = A.idA
```

Notice that the second row in table B is gone because the id values are not the
same.

### Visualization

What is `SQL` doing with this operation?  It may help to visualize this with a
Venn diagram.  Table A has rows with values corresponding to the `idA`
attribute.  Column B has rows with values corresponding to the `idB` attribute.
The `INNER JOIN` will combine the two tables such that rows with common entries
in the `id` attributes are included.  We essentially have the following Venn
diagram.

![]({static}../fig/inner_join.png)

## Exercises

1. Using an `INNER JOIN`, join the `candidates` and `contributors` tables by
   comparing the `id` column in the `candidates` table with the `candidate_id`
   column in the `contributors` table.  Display your joined table with the
   columns `contributors.last_name`, `contributors.first_name`, `amount` and
   `candidates.last_name`.
2. Do the same inner join as in the last part, but this time append a `WHERE`
   clause to select a specific candidate's last name.

In [23]:
# 1
query = '''select ct.last_name, ct.first_name, ct.amount, cd.last_name 
FROM candidates cd 
INNER JOIN contributors ct 
ON cd.id = ct.candidate_id '''

viz_tables(['ct.last_name', 'ct.first_name', 'ct.amount', 'cd.last_name'], query)

    ct.last_name ct.first_name  ct.amount cd.last_name
0           Agee        Steven     500.00     Huckabee
1         Ahrens           Don     250.00     Huckabee
2         Ahrens           Don      50.00     Huckabee
3         Ahrens           Don     100.00     Huckabee
4           Akin       Charles     100.00     Huckabee
5           Akin          Mike    1500.00     Huckabee
6           Akin       Rebecca     500.00     Huckabee
7       Aldridge       Brittni     250.00     Huckabee
8          Allen       John D.    1000.00     Huckabee
9          Allen       John D.    1300.00     Huckabee
10       Allison       John W.    1000.00     Huckabee
11       Allison       Rebecca    1000.00     Huckabee
12       Allison       Rebecca     200.00     Huckabee
13         Altes          R.D.    2300.00     Huckabee
14        Andres          Dale     250.00     Huckabee
15       Anthony          John    2300.00     Huckabee
16      Arbogast        Robert     500.00     Huckabee
17      Arbogast        Robert     100.00     Huckabee
18         Ardle       William      50.00     Huckabee
19          Atiq          Omar    1000.00     Huckabee
20          Atiq          Omar    1000.00     Huckabee
21         Baker         David    2300.00     Huckabee
22      Bancroft         David     250.00     Huckabee
23         Banks       Charles    1000.00     Huckabee
24        Barbee          John     500.00     Huckabee
25       Buckler         Steve      50.00        Obama
26       Buckler         Steve      25.00        Obama
27      Buckheit         Bruce     100.00        Obama
28        Buckel         Linda    2300.00        Obama
29        Buckel         Linda   -2300.00        Obama
30        Buckel         Linda    4600.00        Obama
31          Buck        Thomas     100.00        Obama
32          Buck           Jay     200.00        Obama
33          Buck        Blaine    2300.00        Obama
34          Buck       Barbara      50.00        Obama
35          Buck       Barbara      50.00        Obama
36       Buchman        Mark M     460.80        Obama
37        Bucher           Ida     100.00        Obama
38      Buchanek     Elizabeth      50.00        Obama
39      Buchanan          John     500.00        Obama
40      Buchanan          John    -500.00        Obama
41      Buchanan          John     500.00        Obama
42      Buchanan          John     700.00        Obama
43      Buchanan          John    -700.00        Obama
44      Buchanan          John    1000.00        Obama
45      Buchanan          John    1300.00        Obama
46      Buchanan          John     200.00        Obama
47      Buchanan          John     500.00        Obama
48      Buchanan          John     200.09        Obama
49      Harrison          Ryan      25.00        Obama
50         BYNUM       HERBERT    -500.00     Giuliani
51      BYINGTON      MARGARET   -2300.00     Giuliani
52         BYERS           BOB   -2300.00     Giuliani
53         BYERS        AUDREY    -200.00     Giuliani
54          BUSH       KRYSTIE   -2300.00     Giuliani
55          BUSH          ERIC   -2300.00     Giuliani
56        BURTON         SUSAN   -2300.00     Giuliani
57        BURTON        STEVEN   -2300.00     Giuliani
58        BURTON         GLENN   -2300.00     Giuliani
59     BURKHARDT         CRAIG    -500.00     Giuliani
60     BURKHARDT         CRAIG   -1000.00     Giuliani
61     BURKHARDT       BARBARA    -500.00     Giuliani
62         BURKE       SUZANNE    -700.00     Giuliani
63         BURKE          GAIL   -2000.00     Giuliani
64         BURKE        DONALD   -2300.00     Giuliani
65       BURGERT        RONALD   -1000.00     Giuliani
66          BULL        BARTLE    -800.00     Giuliani
67          BULL        BARTLE   -1000.00     Giuliani
68      BUKOWSKI        DANIEL    -100.00     Giuliani
69       BUISSON      MARGARET    -200.00     Giuliani
70       BUCKLEY        WALTER    -100.00     Giuliani
71       BUCKLEY      MARJORIE    -100.00     Giuliani
72         BRUNO          JOHN   -2300.00     Giuliani
73         BRUNO         IRENE   -2300.00     Giuliani
74         BROWN       TIMOTHY   -2300.00     Giuliani
75        Schuff         Bryan     -25.00         Paul
76         Hobbs         James     -25.00         Paul
77     Ranganath         Anoop    -100.00         Paul
78       Nystrom       Michael    -503.00         Paul
79          Muse          Nina     -50.00         Paul
80       Waddell         James     -28.00         Paul
81        Brucks       William    -150.00         Paul
82         Kuehn         David    -330.00         Paul
83       Verster      Jeanette   -1000.00         Paul
84       Uihlein       Richard   -2300.00         Paul
85    Eskenberry        Robert    -223.00         Paul
86     Froehling          Alan    -844.80         Paul
87        Duryea        Marcia    -299.50         Paul
88     Perreault        Louise     -34.08         Paul
89     Rozenfeld         Timur    -777.95         Paul
90         Kazor   Christopher   -2592.00         Paul
91        Lehner        Thomas    -200.00         Paul
92       Plummer        Joseph     -24.60         Paul
93        Raught        Philip   -1046.00         Paul
94       Ferrara        Judith   -1100.00         Paul
95       Johnson      Cathleen     -14.76         Paul
96       Sanford       Bradley     -24.53         Paul
97       Gaarder         Bruce    -261.00         Paul
98          Choe     Hyeokchan     -39.50         Paul
99        Jacobs       Richard   -1000.00         Paul
100     Aaronson       Rebecca     100.00      Clinton
101       Aarons        Elaine      25.00      Clinton
102       Aarons        Elaine      70.00      Clinton
103       Aarons        Elaine     100.00      Clinton
104        Aaron       Shirley      50.00      Clinton
105        Aaron       Shirley     100.00      Clinton
106     Aaronson       Rebecca     100.00      Clinton
107        Aaron       Shirley     100.00      Clinton
108        Aaron       Shirley     100.00      Clinton
109        Aaron       Shirley     100.00      Clinton
110         Reid     Elizabeth    -350.00      Clinton
111        Reich        Thomas   -2300.00      Clinton
112        Aaron       Shirley     100.00      Clinton
113        Aaron       Shirley     100.00      Clinton
114        Aaron       Sharron     500.00      Clinton
115        Aaron      Patricia     200.00      Clinton
116        Aaron      Patricia     100.00      Clinton
117        Aaron           Jim     300.00      Clinton
118        Aaron           Jim     200.00      Clinton
119        Aaron        Carole      70.00      Clinton
120        Aaron        Carole      50.00      Clinton
121        Aaron        Carole     100.00      Clinton
122        Aaron       Barbara    1000.00      Clinton
123     Aanonsen           Lin     250.00      Clinton
124     Aanonsen           Lin     100.00      Clinton
125       BOURNE        TRAVIS    -500.00       Romney
126      SECRIST         BRIAN   -1000.00       Romney
127   TOLLESTRUP        TRAVIS   -1000.00       Romney
128       ACCORD          DEAN     500.00       Romney
129         ABTS         HENRY     100.00       Romney
130      ABSHIER         LANNY     500.00       Romney
131      ABSHIER         DIANA     500.00       Romney
132        ABREU         KEVIN      50.00       Romney
133        ABREU         KEVIN     150.00       Romney
134        ABREU         KEVIN      50.00       Romney
135   ABRAMOWITZ          NIRA    2300.00       Romney
136       ABRAMS       MICHAEL     250.00       Romney
137   ABRAMOWITZ           KEN     300.00       Romney
138   ABOUBAKARE         NASAR    1000.00       Romney
139        ABEGG      PATRICIA      75.00       Romney
140        ABEGG      PATRICIA      25.00       Romney
141        ABEGG      PATRICIA      75.00       Romney
142        ABEGG      PATRICIA      75.00       Romney
143        ABEGG      PATRICIA      25.00       Romney
144        ABEGG      PATRICIA      25.00       Romney
145      ABDELLA        THOMAS      50.00       Romney
146       ABBOTT        WELDON     100.00       Romney
147       ABBOTT        WELDON      50.00       Romney
148       ABBOTT        GERALD     100.00       Romney
149       ABBOTT        GERALD     100.00       Romney
150       ABEDIN        ZAINUL     500.00       McCain
151       ABBOTT         SYBIL      75.00       McCain
152       ABBOTT         SYBIL      50.00       McCain
153       ABBOTT        RONALD     200.00       McCain
154       ABBOTT        RONALD     100.00       McCain
155       ABBOTT        ROBERT     500.00       McCain
156       ABBOTT          MIKE    1000.00       McCain
157        ABBOT         DAVID     200.00       McCain
158         ABBO       PAULINE      35.00       McCain
159        ABATE         MARIA    2600.00       McCain
160        ABAIR         PETER      25.00       McCain
161    ABACHERLI       SHIRLEY     150.00       McCain
162       AARONS       CHARLES     300.00       McCain
163       AARONS       CHARLES     410.00       McCain
164       AARONS       CHARLES     500.00       McCain
165         ABEL          JOHN     200.00       McCain
166         ABEL       MARLING     100.00       McCain
167         ABEL       RUDOLPH     100.00       McCain
168        ABELE        RODNEY     500.00       McCain
169  ABERCROMBIE         DENIS     500.00       McCain
170     ABESHAUS       MERRILL     120.00       McCain
171      ABRAHAM        GEORGE     800.00       McCain
172   ABRAHAMSON         PETER      50.00       McCain
173      ABRAHAM         SALEM    1000.00       McCain
174      ABRAHAM         SALEM    1300.00       McCain

In [24]:
# 2
query = '''select ct.last_name, ct.first_name, ct.amount, cd.last_name 
FROM candidates cd 
INNER JOIN contributors ct 
ON cd.id = ct.candidate_id
WHERE cd.last_name = "Paul"'''

viz_tables(['ct.last_name', 'ct.first_name', 'ct.amount', 'cd.last_name'], query)

   ct.last_name ct.first_name  ct.amount cd.last_name
0        Schuff         Bryan     -25.00         Paul
1         Hobbs         James     -25.00         Paul
2     Ranganath         Anoop    -100.00         Paul
3       Nystrom       Michael    -503.00         Paul
4          Muse          Nina     -50.00         Paul
5       Waddell         James     -28.00         Paul
6        Brucks       William    -150.00         Paul
7         Kuehn         David    -330.00         Paul
8       Verster      Jeanette   -1000.00         Paul
9       Uihlein       Richard   -2300.00         Paul
10   Eskenberry        Robert    -223.00         Paul
11    Froehling          Alan    -844.80         Paul
12       Duryea        Marcia    -299.50         Paul
13    Perreault        Louise     -34.08         Paul
14    Rozenfeld         Timur    -777.95         Paul
15        Kazor   Christopher   -2592.00         Paul
16       Lehner        Thomas    -200.00         Paul
17      Plummer        Joseph     -24.60         Paul
18       Raught        Philip   -1046.00         Paul
19      Ferrara        Judith   -1100.00         Paul
20      Johnson      Cathleen     -14.76         Paul
21      Sanford       Bradley     -24.53         Paul
22      Gaarder         Bruce    -261.00         Paul
23         Choe     Hyeokchan     -39.50         Paul
24       Jacobs       Richard   -1000.00         Paul

## `LEFT JOIN` or `LEFT OUTER JOIN`

There are many ways to combine two tables.  We just explored one possibility in
which we combined the tables based upon the intersection of the two tables (the
`INNER JOIN`).

Now we'll look at the `LEFT JOIN` or `LEFT OUTER JOIN` in some databases.

In words, the `LEFT JOIN` is combining the tables based upon what is in the
intersection of the two tables *and* what is in the "reference" table (left
table in the `SQL` command).

We can consider our toy example in two guises:

#### Example A

Let's do a `LEFT JOIN` of table B from table A.  That is, we'd like to make a
new table by putting table B into table A.  In this case, we'll consider table A
our "reference" table.  We're comparing by the `id` column again.  We know that
these two tables share ids 0 and 2 and table A doesn't have anything else in it.
The resulting table is:

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| s2   | 7       | t3  | 22     |

That's not very exciting.  It's the same result as from the `INNER JOIN`.  We
can do another example that may be more enlightening.

#### Example B

Let's do a `LEFT JOIN` of table A from table B.  That is, we'd like to make a
new table by putting table A into table B.  In this case, we'll consider table B
our "reference" table.  Again, we use the `id` column from comparison.  We know
that these two tables share ids 0 and 2.  This time, table B also contains the
id 7, which is not shared by table A.  The resulting table is:

| nA   | A.attr  | nB  | B.attr |
| :::: | ::::::: | ::: | :::::: |
| s1   | 23      | t1  | 60     |
| None | NaN     | t2  | 14     |
| s2   | 7       | t3  | 22     |

Notice that `SQLite` filled in the missing entries for us.  This is necessary
for completion of the requested join.

The `SQLite` commands to accomplish all of this are:

```SQL
SELECT nA, A.attr, nB, B.attr FROM A LEFT JOIN B ON B.idB = A.idA
```

and

```SQL
SELECT nA, A.attr, nB, B.attr FROM B LEFT JOIN A ON A.idA = B.idB
```

Here is a visualization using Venn diagrams of the `LEFT JOIN`.

![]({static}../fig/left_join.png)

## Exercises

Use the following two tables to do the first two exercises in this section.
Table A has the form:

| nA   | attr  | idA |
| :::: | ::::: | ::: |
| s1   | 23    | 0   |
| s2   | 7     | 2   |
| s3   | 15    | 3   |
| s4   | 31    | 7   |

and table B has the form:

| nB   | attr  | idB |
| :::: | ::::: | ::: |
| t1   | 60    | 0   |
| t2   | 14    | 7   |
| t3   | 22    | 2   |

1. Write the markdown table that would result from a `LEFT JOIN` using table A
   as the reference and the `id` columns for comparison.  Example with arbitrary
   column names:
   ```md
   | Col1 | Col2 | Col3 | Col4 |
   | :::: | :::: | :::: | :::: |
   | val1 | val2 | val3 | val4 |
   | val5 | val6 | val7 | val8 |
   ```
2. Write the markdown table that would result from a `LEFT JOIN` using table B
   as the reference and the `id` columns for comparison.
3. Now back to the candidates and their contributors.  Create a new table with
   the following form:
   ```md
   | average contribution | candidate last name |
   | :::::::::::::::::::: | ::::::::::::::::::: |
   |    ...               |    ...              |
   ```
   The table should be created using the `LEFT JOIN` clause on the
   `contributors` table by joining the `candidates` table by the `id` column.
   The `average contribution` column should be obtained using the `AVG()` `SQL`
   function. Use the `GROUP BY` clause on the `candidates` last name.

---

### 1. 

nA |attr |idA | nB | attr | idB|
-----|-----|-----|-----|-----|-----| 
s1|23|0|t1|60|0|
s2|7|2|t3|22|2|
s3|15|3|null|null|null|
s4|31|7|t2|14|7|

### 2.

nB | attr | idB| nA |attr |idA |
-----|-----|-----|-----|-----|-----| 
t1|60|0|s1|23|0|
t2|14|7|s4|31|7|
t3|22|2|s2|7|2|

In [61]:
# 3.

query = '''select AVG(ct.amount) AS average_contribution , cd.last_name
FROM contributors ct  
LEFT JOIN candidates cd
ON cd.id = ct.candidate_id
GROUP BY cd.last_name'''

viz_tables(['average contribution', 'candidate last name'], query)

   average contribution candidate last name
0               50.6000             Clinton
1            -1360.0000            Giuliani
2              772.0000            Huckabee
3              452.6000              McCain
4              472.4356               Obama
5             -519.7088                Paul
6              156.0000              Romney

# `pandas`

We've been working with databases for the last few lectures and learning
`SQLite` commands to work with and manipulate the `SQL` databases.  There is a
powerful `python` package called `pandas` that provides broad support for data
structures.  It can be used to interact with relational databases through its
own methods and even through `SQL` commands.

> In the last part of this lecture, you will get to redo a number of the
> previous database exercises using `pandas`.

We won't be able to cover `pandas` from the ground up, but it's a
well-documented library and is fairly easy to get up and running.  The website
can be found at the following link: [`pandas`](http://pandas.pydata.org/).  A
very good reference for `pandas` is the book ["Python for data
analysis"](https://www.amazon.com/gp/product/1491957662/ref=as_li_tl?ie=UTF8&tag=quantpytho-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1491957662&linkId=8c3bf87b221dbcd8f541f0db20d4da83)
by the creator of `pandas` himself.

## Reading a datafile into `pandas`

In [25]:
# Using pandas naming convention
dfcand = pd.read_csv("candidates.txt", sep="|")
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [26]:
dfcontr = pd.read_csv("contributors.txt", sep="|")
dfcontr

     id    last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id
0   NaN         Agee       Steven         NaN        549 Laurel Branch Road               NaN               Floyd    VA      24091   500.00  2007-06-30            16
1   NaN       Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   250.00  2007-05-16            16
2   NaN       Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566    50.00  2007-06-18            16
3   NaN       Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   100.00  2007-06-21            16
4   NaN         Akin      Charles         NaN        10187 Sugar Creek Road               NaN         Bentonville    AR      72712   100.00  2007-06-16            16
5   NaN         Akin         Mike         NaN              181 Baywood Lane               NaN          Monticello    AR      71655  1500.00  2007-05-18            16
6   NaN         Akin      Rebecca         NaN              181 Baywood Lane               NaN          Monticello    AR      71655   500.00  2007-05-18            16
7   NaN     Aldridge      Brittni         NaN  808 Capitol Square Place, SW               NaN          Washington    DC      20024   250.00  2007-06-06            16
8   NaN        Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1000.00  2007-06-11            16
9   NaN        Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1300.00  2007-06-29            16
10  NaN      Allison      John W.         NaN                 P.O. Box 1089               NaN              Conway    AR      72033  1000.00  2007-05-18            16
11  NaN      Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227  1000.00  2007-04-25            16
12  NaN      Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227   200.00  2007-06-12            16
13  NaN        Altes         R.D.         NaN               8600 Moody Road               NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16
14  NaN       Andres         Dale         NaN          1160 Glen Oaks Drive               NaN     West Des Moines    IA      50266   250.00  2007-06-06            16
15  NaN      Anthony         John         NaN         211 Long Island Drive               NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16
16  NaN     Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   500.00  2007-04-08            16
17  NaN     Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   100.00  2007-06-22            16
18  NaN        Ardle      William         NaN             412 Dakota Avenue               NaN         Springfield    OH      45504    50.00  2007-06-28            16
19  NaN         Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16
20  NaN         Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16
21  NaN        Baker        David         NaN        2550 Adamsbrooke Drive               NaN              Conway    AR      72034  2300.00  2007-04-11            16
22  NaN     Bancroft        David         NaN         2934 Broderick Street               NaN       San Francisco    CA      94123   250.00  2007-04-24            16
23  NaN        Banks      Charles         NaN               P.O. Box 251310               NaN         Little Rock    AR      72225  1000.00  2007-05-14            16
24  NaN       Barbee         John         NaN          516 Kellyridge Drive               NaN                Apex    NC      27502   500.00  2007-05-23            16
25  NaN      Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    50.00  2007-07-30            20
26  NaN      Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    25.00  2007-08-16            20
27  NaN     Buckheit        Bruce         NaN                 8904 KAREN DR               NaN             FAIRFAX    VA  220312731   100.00  2007-09-19            20
28  NaN       Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  2300.00  2007-08-14            20
29  NaN       Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130 -2300.00  2007-08-14            20
30  NaN       Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  4600.00  2007-08-14            20
31  NaN         Buck       Thomas         NaN           4206 Terrace Street               NaN         Kansas City    MO      64111   100.00  2007-09-25            20
32  NaN         Buck          Jay          K.   1855 Old Willow Rd Unit 322               NaN          Northfield    IL  600932918   200.00  2007-09-12            20
33  NaN         Buck       Blaine           M                  45 Eaton Ave               NaN              Camden    ME   48431752  2300.00  2007-09-30            20
34  NaN         Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-09-13            20
35  NaN         Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-07-19            20
36  NaN      Buchman       Mark M         NaN               2530 Lawton Ave               NaN     San Luis Obispo    CA  934015622   460.80  2007-07-18            20
37  NaN       Bucher          Ida           M              1400 Warnall Ave               NaN         Los Angeles    CA  900245333   100.00  2007-07-10            20
38  NaN     Buchanek    Elizabeth         NaN              7917 Kentbury Dr               NaN            Bethesda    MD  208144615    50.00  2007-09-30            20
39  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
40  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -500.00  2007-09-24            20
41  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
42  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20
43  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -700.00  2007-08-28            20
44  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20
45  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20
46  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   200.00  2007-08-14            20
47  NaN     Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20
48  NaN     Buchanan         John         NaN               4635 49th St NW               NaN          Washington    DC  200164320   200.09  2007-09-23            20
49  NaN     Harrison         Ryan         NaN                   2247 3rd St               NaN            La Verne    CA  917504918    25.00  2007-07-26            20
50  NaN        BYNUM      HERBERT         NaN            332 SUNNYSIDE ROAD               NaN               TAMPA    FL  336177249  -500.00  2008-03-10            22
51  NaN     BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.               NaN        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22
52  NaN        BYERS          BOB          A.          13170 TELFAIR AVENUE               NaN              SYLMAR    CA  913423573 -2300.00  2008-03-07            22
53  NaN        BYERS       AUDREY         NaN             2658 LADBROOK WAY               NaN       THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22
54  NaN         BUSH      KRYSTIE         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
55  NaN         BUSH         ERIC         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
56  NaN       BURTON        SUSAN         NaN         9338 DEER CREEK DRIVE               NaN               TAMPA    FL  336472286 -2300.00  2008-03-05            22
57  NaN       BURTON       STEVEN          G.         9938 DEER CREEK DRIVE               NaN               TAMPA    FL      33647 -2300.00  2008-03-05            22
58  NaN       BURTON        GLENN          M.         4404 CHARLESTON COURT               NaN               TAMPA    FL  336092620 -2300.00  2008-03-05            22
59  NaN    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
60  NaN    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22
61  NaN    BURKHARDT      BARBARA         NaN          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
62  NaN        BURKE      SUZANNE          M.                 3401 EVANSTON               NaN             SEATTLE    WA  981038677  -700.00  2008-03-05            22
63  NaN        BURKE         GAIL         NaN            165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22
64  NaN        BURKE       DONALD          J.                     12 LOMPOC               NaN  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22
65  NaN      BURGERT       RONALD          L.           5723 PLUMTREE DRIVE               NaN              DALLAS    TX  752524926 -1000.00  2008-03-05            22
66  NaN         BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473  -800.00  2008-03-10            22
67  NaN         BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473 -1000.00  2008-03-10            22
68  NaN     BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET               NaN          NAPERVILLE    IL  605406736  -100.00  2008-03-10            22
69  NaN      BUISSON     MARGARET          A.               P.O. BOX 197029               NaN          LOUISVILLE    KY  402597029  -200.00  2008-03-11            22
70  NaN      BUCKLEY       WALTER          W.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
71  NaN      BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
72  NaN        BRUNO         JOHN         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
73  NaN        BRUNO        IRENE         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
74  NaN        BROWN      TIMOTHY          J.           26826 MARLOWE COURT               NaN     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22
75  NaN       Schuff        Bryan         NaN              1700 W Sweden Rd               NaN           Brockport    NY      14420   -25.00  2008-08-22            32
76  NaN        Hobbs        James         NaN               229 Cherry Lane               NaN         White House    TN      37188   -25.00  2008-08-19            32
77  NaN    Ranganath        Anoop         NaN            2507 Willard Drive               NaN     Charlottesville    VA      22903  -100.00  2008-04-21            32
78  NaN      Nystrom      Michael           A           93A Fairmont Street               NaN           Arlington    MA       2474  -503.00  2008-04-21            32
79  NaN         Muse         Nina          Jo           2915 Toro Canyon Rd               NaN              Austin    TX      78746   -50.00  2008-04-21            32
80  NaN      Waddell        James          L.             1823 Spel Lane SW               NaN           Rochester    MN      55902   -28.00  2008-04-21            32
81  NaN       Brucks      William          C.                    PO Box 391               NaN      Corona del Mar    CA      92625  -150.00  2008-04-21            32
82  NaN        Kuehn        David         NaN        14502 West 93rd Street               NaN              Lenexa    KS      66215  -330.00  2008-04-21            32
83  NaN      Verster     Jeanette          M.               7220 SW 61st St               NaN               Miami    FL  331431807 -1000.00  2008-04-21            32
84  NaN      Uihlein      Richard         NaN            1396 N Waukegan Rd               NaN         Lake Forest    IL  600451147 -2300.00  2008-04-21            32
85  NaN   Eskenberry       Robert           P                10960 Gray Cir               NaN         Westminster    CO      80020  -223.00  2008-04-21            32
86  NaN    Froehling         Alan          L.               302 Broadway St               NaN        Mount Vernon    IL  628645116  -844.80  2008-04-21            32
87  NaN       Duryea       Marcia          A.               123 Bayview Ave               NaN          Amityville    NY      11701  -299.50  2008-04-21            32
88  NaN    Perreault       Louise         NaN     503 Brockridge Hunt Drive               NaN             Hampton    VA      23666   -34.08  2008-04-21            32
89  NaN    Rozenfeld        Timur         NaN               57 Herbert Road               NaN        Robbinsville    NJ       8691  -777.95  2008-04-21            32
90  NaN        Kazor  Christopher           M           707 Spindletree ave               NaN          Naperville    IL      60565 -2592.00  2008-04-21            32
91  NaN       Lehner       Thomas          S.                2701 Star Lane               NaN           Wadsworth    OH      44281  -200.00  2008-04-21            32
92  NaN      Plummer       Joseph         NaN             587 Blake Hill Rd               NaN         New Hampton    NH   32564424   -24.60  2008-04-21            32
93  NaN       Raught       Philip           M                 4714 Plum Way               NaN          Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94  NaN      Ferrara       Judith           D           1508 Waterford Road               NaN             Yardley    PA      19067 -1100.00  2008-04-21            32
95  NaN      Johnson     Cathleen          E.       1003 Justin Ln Apt 2016               NaN              Austin    TX  787572648   -14.76  2008-04-21            32
96  NaN      Sanford      Bradley         NaN               940 Post St #43               NaN       San Francisco    CA      94109   -24.53  2008-04-21            32
97  NaN      Gaarder        Bruce         NaN                   PO Box 4085               NaN   Mountain Home AFB    ID      83648  -261.00  2008-04-21            32
98  NaN         Choe    Hyeokchan         NaN                207 Bridle Way               NaN            Fort Lee    NJ   70246302   -39.50  2008-04-21            32
99  NaN       Jacobs      Richard          G.                14337 Tawya Rd               NaN        Apple Valley    CA  923075545 -1000.00  2008-04-21            32
100 NaN     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-08            34
101 NaN       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34
102 NaN       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34
103 NaN       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34
104 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311    50.00  2008-02-29            34
105 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-29            34
106 NaN     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-14            34
107 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-24            34
108 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-22            34
109 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-17            34
110 NaN         Reid    Elizabeth         NaN                73 W Patent Rd  OPHIR FARM NORTH       Bedford Hills    NY  105072222  -350.00  2008-08-28            34
111 NaN        Reich       Thomas         NaN                  499 Park Ave               NaN            New York    NY  100221240 -2300.00  2008-08-28            34
112 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-08            34
113 NaN        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-03            34
114 NaN        Aaron      Sharron         NaN          1804 E Montgomery St               NaN        Broken Arrow    OK  740121840   500.00  2008-02-09            34
115 NaN        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   200.00  2008-02-26            34
116 NaN        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   100.00  2008-02-12            34
117 NaN        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   300.00  2008-02-07            34
118 NaN        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   200.00  2008-02-29            34

Reading things in is quite easy with `pandas`. Notice that `pandas` populates
empty fields with `NaN` values. The `id` column in the `contributors` dataset is
superfluous.  Let's delete it.

In [27]:
del dfcontr['id']
dfcontr.head()

  last_name first_name middle_name                street_1 street_2         city state    zip  amount        date  candidate_id
0      Agee     Steven         NaN  549 Laurel Branch Road      NaN        Floyd    VA  24091   500.0  2007-06-30            16
1    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   250.0  2007-05-16            16
2    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566    50.0  2007-06-18            16
3    Ahrens        Don         NaN    4034 Rennellwood Way      NaN   Pleasanton    CA  94566   100.0  2007-06-21            16
4      Akin    Charles         NaN  10187 Sugar Creek Road      NaN  Bentonville    AR  72712   100.0  2007-06-16            16

Very nice!  And we used the `head` method to print out the first five rows.

## Creating a Table with `pandas`

We can use `pandas` to create tables in a database. First, let's create a new
(empty) `SQLite` database:

In [28]:
dbp = sqlite3.connect('L22DB_pandas.sqlite')
cursor = dbp.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_name TEXT, 
               party TEXT NOT NULL)''')

dbp.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

dbp.commit()

Last time, we opened the data files with `python` and then manually used
`SQLite` commands to populate the individual tables.  We can use `pandas`
instead like so:

In [29]:
dfcand.to_sql("candidates", dbp, if_exists="append", index=False)

What is the size of our table?

In [30]:
dfcand.shape

(17, 5)

We can visualize the data in our `pandas`-populated `SQL` table.  No surprises
here except that `pandas` did everything for us (contrast this to our manual
file read last time using `for`-loops and list comprehensions).

In [31]:
query = '''SELECT * FROM candidates'''
display(viz_tables(["Average Contribution", "candidates.last_name"], query))

    Average Contribution candidates.last_name
0                     16                 Mike
1                     20               Barack
2                     22              Rudolph
3                     24                 Mike
4                     26                 John
5                     29                 Bill
6                     30               Duncan
7                     31               Dennis
8                     32                  Ron
9                     33               Joseph
10                    34              Hillary
11                    35                 Mitt
12                    36               Samuel
13                    37                 John
14                    38                  Tom
15                    39          Christopher
16                    41                 Fred

## Querying a table with `pandas`

### One Way

Using the `query` method:

In [32]:
dfcand.query("first_name=='Mike' & party=='D'")

   id first_name last_name middle_name party
6  24       Mike    Gravel         NaN     D

### Another Way

Using the `__getitem__` special method:

In [33]:
dfcand[(dfcand.first_name=="Mike") & (dfcand.party=="D")]

   id first_name last_name middle_name party
6  24       Mike    Gravel         NaN     D

### More Queries

In [34]:
dfcand[dfcand.middle_name.notnull()]

    id   first_name last_name middle_name party
2   34      Hillary   Clinton          R.     D
3   39  Christopher      Dodd          J.     D
16  41         Fred  Thompson          D.     R

In [35]:
dfcand[dfcand.first_name.isin(['Mike', 'Hillary'])]

   id first_name last_name middle_name party
2  34    Hillary   Clinton          R.     D
6  24       Mike    Gravel         NaN     D
7  16       Mike  Huckabee         NaN     R

## Exercises

1. Use `pandas` to populate the `contributors` table and display the populated `SQL` table
2. Query the `contributors` tables with the following:
  1. List entries where the state is "VA" and the amount is less than
     $\$400.00$.
  2. List entries where the state is "NULL".
  3. List entries for the states of Texas and Pennsylvania.
  4. List entries where the amount contributed is between $\$10.00$ and
     $\$50.00$.

In [36]:
# 1. 

dfcontr.to_sql("contributors", dbp, if_exists="append", index=False)
query = '''SELECT * FROM contributors'''
display(viz_tables(contributor_cols, query))

      id    last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id
0      1         Agee       Steven        None        549 Laurel Branch Road              None               Floyd    VA      24091   500.00  2007-06-30            16
1      2       Ahrens          Don        None          4034 Rennellwood Way              None          Pleasanton    CA      94566   250.00  2007-05-16            16
2      3       Ahrens          Don        None          4034 Rennellwood Way              None          Pleasanton    CA      94566    50.00  2007-06-18            16
3      4       Ahrens          Don        None          4034 Rennellwood Way              None          Pleasanton    CA      94566   100.00  2007-06-21            16
4      5         Akin      Charles        None        10187 Sugar Creek Road              None         Bentonville    AR      72712   100.00  2007-06-16            16
5      6         Akin         Mike        None              181 Baywood Lane              None          Monticello    AR      71655  1500.00  2007-05-18            16
6      7         Akin      Rebecca        None              181 Baywood Lane              None          Monticello    AR      71655   500.00  2007-05-18            16
7      8     Aldridge      Brittni        None  808 Capitol Square Place, SW              None          Washington    DC      20024   250.00  2007-06-06            16
8      9        Allen      John D.        None        1052 Cannon Mill Drive              None       North Augusta    SC      29860  1000.00  2007-06-11            16
9     10        Allen      John D.        None        1052 Cannon Mill Drive              None       North Augusta    SC      29860  1300.00  2007-06-29            16
10    11      Allison      John W.        None                 P.O. Box 1089              None              Conway    AR      72033  1000.00  2007-05-18            16
11    12      Allison      Rebecca        None             3206 Summit Court              None         Little Rock    AR      72227  1000.00  2007-04-25            16
12    13      Allison      Rebecca        None             3206 Summit Court              None         Little Rock    AR      72227   200.00  2007-06-12            16
13    14        Altes         R.D.        None               8600 Moody Road              None          Fort Smith    AR      72903  2300.00  2007-06-21            16
14    15       Andres         Dale        None          1160 Glen Oaks Drive              None     West Des Moines    IA      50266   250.00  2007-06-06            16
15    16      Anthony         John        None         211 Long Island Drive              None         Hot Springs    AR      71913  2300.00  2007-06-12            16
16    17     Arbogast       Robert        None       12900 State Route 56 SE              None      Mount Sterling    OH      43143   500.00  2007-04-08            16
17    18     Arbogast       Robert        None       12900 State Route 56 SE              None      Mount Sterling    OH      43143   100.00  2007-06-22            16
18    19        Ardle      William        None             412 Dakota Avenue              None         Springfield    OH      45504    50.00  2007-06-28            16
19    20         Atiq         Omar        None           7200 S Hazel Street              None          Pine Bluff    AR      71603  1000.00  2007-05-18            16
20    21         Atiq         Omar        None           7200 S Hazel Street              None          Pine Bluff    AR      71603  1000.00  2007-06-27            16
21    22        Baker        David        None        2550 Adamsbrooke Drive              None              Conway    AR      72034  2300.00  2007-04-11            16
22    23     Bancroft        David        None         2934 Broderick Street              None       San Francisco    CA      94123   250.00  2007-04-24            16
23    24        Banks      Charles        None               P.O. Box 251310              None         Little Rock    AR      72225  1000.00  2007-05-14            16
24    25       Barbee         John        None          516 Kellyridge Drive              None                Apex    NC      27502   500.00  2007-05-23            16
25    26      Buckler        Steve        None               24351 Armada Dr              None          Dana Point    CA  926291306    50.00  2007-07-30            20
26    27      Buckler        Steve        None               24351 Armada Dr              None          Dana Point    CA  926291306    25.00  2007-08-16            20
27    28     Buckheit        Bruce        None                 8904 KAREN DR              None             FAIRFAX    VA  220312731   100.00  2007-09-19            20
28    29       Buckel        Linda        None                 PO Box 683130              None           Park City    UT  840683130  2300.00  2007-08-14            20
29    30       Buckel        Linda        None                 PO Box 683130              None           Park City    UT  840683130 -2300.00  2007-08-14            20
30    31       Buckel        Linda        None                 PO Box 683130              None           Park City    UT  840683130  4600.00  2007-08-14            20
31    32         Buck       Thomas        None           4206 Terrace Street              None         Kansas City    MO      64111   100.00  2007-09-25            20
32    33         Buck          Jay          K.   1855 Old Willow Rd Unit 322              None          Northfield    IL  600932918   200.00  2007-09-12            20
33    34         Buck       Blaine           M                  45 Eaton Ave              None              Camden    ME   48431752  2300.00  2007-09-30            20
34    35         Buck      Barbara        None              1780 NE 138th St              None         North Miami    FL  331811316    50.00  2007-09-13            20
35    36         Buck      Barbara        None              1780 NE 138th St              None         North Miami    FL  331811316    50.00  2007-07-19            20
36    37      Buchman       Mark M        None               2530 Lawton Ave              None     San Luis Obispo    CA  934015622   460.80  2007-07-18            20
37    38       Bucher          Ida           M              1400 Warnall Ave              None         Los Angeles    CA  900245333   100.00  2007-07-10            20
38    39     Buchanek    Elizabeth        None              7917 Kentbury Dr              None            Bethesda    MD  208144615    50.00  2007-09-30            20
39    40     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303   500.00  2007-09-24            20
40    41     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303  -500.00  2007-09-24            20
41    42     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303   500.00  2007-09-24            20
42    43     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303   700.00  2007-08-28            20
43    44     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303  -700.00  2007-08-28            20
44    45     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303  1000.00  2007-08-28            20
45    46     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303  1300.00  2007-08-09            20
46    47     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303   200.00  2007-08-14            20
47    48     Buchanan         John        None               2025 NW 29th Rd              None          Boca Raton    FL  334316303   500.00  2007-07-25            20
48    49     Buchanan         John        None               4635 49th St NW              None          Washington    DC  200164320   200.09  2007-09-23            20
49    50     Harrison         Ryan        None                   2247 3rd St              None            La Verne    CA  917504918    25.00  2007-07-26            20
50    51        BYNUM      HERBERT        None            332 SUNNYSIDE ROAD              None               TAMPA    FL  336177249  -500.00  2008-03-10            22
51    52     BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.              None        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22
52    53        BYERS          BOB          A.          13170 TELFAIR AVENUE              None              SYLMAR    CA  913423573 -2300.00  2008-03-07            22
53    54        BYERS       AUDREY        None             2658 LADBROOK WAY              None       THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22
54    55         BUSH      KRYSTIE        None                P.O. BOX 61046              None              DENVER    CO  802061046 -2300.00  2008-03-06            22
55    56         BUSH         ERIC        None                P.O. BOX 61046              None              DENVER    CO  802061046 -2300.00  2008-03-06            22
56    57       BURTON        SUSAN        None         9338 DEER CREEK DRIVE              None               TAMPA    FL  336472286 -2300.00  2008-03-05            22
57    58       BURTON       STEVEN          G.         9938 DEER CREEK DRIVE              None               TAMPA    FL      33647 -2300.00  2008-03-05            22
58    59       BURTON        GLENN          M.         4404 CHARLESTON COURT              None               TAMPA    FL  336092620 -2300.00  2008-03-05            22
59    60    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.              None          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
60    61    BURKHARDT        CRAIG          S.          910 15TH STREET N.W.              None          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22
61    62    BURKHARDT      BARBARA        None          910 15TH STREET N.W.              None          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
62    63        BURKE      SUZANNE          M.                 3401 EVANSTON              None             SEATTLE    WA  981038677  -700.00  2008-03-05            22
63    64        BURKE         GAIL        None            165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22
64    65        BURKE       DONALD          J.                     12 LOMPOC              None  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22
65    66      BURGERT       RONALD          L.           5723 PLUMTREE DRIVE              None              DALLAS    TX  752524926 -1000.00  2008-03-05            22
66    67         BULL       BARTLE          B.            439 E. 51ST STREET              None            NEW YORK    NY  100226473  -800.00  2008-03-10            22
67    68         BULL       BARTLE          B.            439 E. 51ST STREET              None            NEW YORK    NY  100226473 -1000.00  2008-03-10            22
68    69     BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET              None          NAPERVILLE    IL  605406736  -100.00  2008-03-10            22
69    70      BUISSON     MARGARET          A.               P.O. BOX 197029              None          LOUISVILLE    KY  402597029  -200.00  2008-03-11            22
70    71      BUCKLEY       WALTER          W.             1635 COUNTRY ROAD              None           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
71    72      BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD              None           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
72    73        BRUNO         JOHN        None  10136 WINDERMERE CHASE BLVD.              None               GOTHA    FL  347344707 -2300.00  2008-03-06            22
73    74        BRUNO        IRENE        None  10136 WINDERMERE CHASE BLVD.              None               GOTHA    FL  347344707 -2300.00  2008-03-06            22
74    75        BROWN      TIMOTHY          J.           26826 MARLOWE COURT              None     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22
75    76       Schuff        Bryan        None              1700 W Sweden Rd              None           Brockport    NY      14420   -25.00  2008-08-22            32
76    77        Hobbs        James        None               229 Cherry Lane              None         White House    TN      37188   -25.00  2008-08-19            32
77    78    Ranganath        Anoop        None            2507 Willard Drive              None     Charlottesville    VA      22903  -100.00  2008-04-21            32
78    79      Nystrom      Michael           A           93A Fairmont Street              None           Arlington    MA       2474  -503.00  2008-04-21            32
79    80         Muse         Nina          Jo           2915 Toro Canyon Rd              None              Austin    TX      78746   -50.00  2008-04-21            32
80    81      Waddell        James          L.             1823 Spel Lane SW              None           Rochester    MN      55902   -28.00  2008-04-21            32
81    82       Brucks      William          C.                    PO Box 391              None      Corona del Mar    CA      92625  -150.00  2008-04-21            32
82    83        Kuehn        David        None        14502 West 93rd Street              None              Lenexa    KS      66215  -330.00  2008-04-21            32
83    84      Verster     Jeanette          M.               7220 SW 61st St              None               Miami    FL  331431807 -1000.00  2008-04-21            32
84    85      Uihlein      Richard        None            1396 N Waukegan Rd              None         Lake Forest    IL  600451147 -2300.00  2008-04-21            32
85    86   Eskenberry       Robert           P                10960 Gray Cir              None         Westminster    CO      80020  -223.00  2008-04-21            32
86    87    Froehling         Alan          L.               302 Broadway St              None        Mount Vernon    IL  628645116  -844.80  2008-04-21            32
87    88       Duryea       Marcia          A.               123 Bayview Ave              None          Amityville    NY      11701  -299.50  2008-04-21            32
88    89    Perreault       Louise        None     503 Brockridge Hunt Drive              None             Hampton    VA      23666   -34.08  2008-04-21            32
89    90    Rozenfeld        Timur        None               57 Herbert Road              None        Robbinsville    NJ       8691  -777.95  2008-04-21            32
90    91        Kazor  Christopher           M           707 Spindletree ave              None          Naperville    IL      60565 -2592.00  2008-04-21            32
91    92       Lehner       Thomas          S.                2701 Star Lane              None           Wadsworth    OH      44281  -200.00  2008-04-21            32
92    93      Plummer       Joseph        None             587 Blake Hill Rd              None         New Hampton    NH   32564424   -24.60  2008-04-21            32
93    94       Raught       Philip           M                 4714 Plum Way              None          Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94    95      Ferrara       Judith           D           1508 Waterford Road              None             Yardley    PA      19067 -1100.00  2008-04-21            32
95    96      Johnson     Cathleen          E.       1003 Justin Ln Apt 2016              None              Austin    TX  787572648   -14.76  2008-04-21            32
96    97      Sanford      Bradley        None               940 Post St #43              None       San Francisco    CA      94109   -24.53  2008-04-21            32
97    98      Gaarder        Bruce        None                   PO Box 4085              None   Mountain Home AFB    ID      83648  -261.00  2008-04-21            32
98    99         Choe    Hyeokchan        None                207 Bridle Way              None            Fort Lee    NJ   70246302   -39.50  2008-04-21            32
99   100       Jacobs      Richard          G.                14337 Tawya Rd              None        Apple Valley    CA  923075545 -1000.00  2008-04-21            32
100  101     Aaronson      Rebecca        None  2000 Village Green Dr Apt 12              None          Mill Creek    WA  980125787   100.00  2008-02-08            34
101  102       Aarons       Elaine        None    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34
102  103       Aarons       Elaine        None    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34
103  104       Aarons       Elaine        None    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34
104  105        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311    50.00  2008-02-29            34
105  106        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-29            34
106  107     Aaronson      Rebecca        None  2000 Village Green Dr Apt 12              None          Mill Creek    WA  980125787   100.00  2008-02-14            34
107  108        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-24            34
108  109        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-22            34
109  110        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-17            34
110  111         Reid    Elizabeth        None                73 W Patent Rd  OPHIR FARM NORTH       Bedford Hills    NY  105072222  -350.00  2008-08-28            34
111  112        Reich       Thomas        None                  499 Park Ave              None            New York    NY  100221240 -2300.00  2008-08-28            34
112  113        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-08            34
113  114        Aaron      Shirley        None                101 Cherry Ave              None              Havana    FL  323331311   100.00  2008-02-03            34
114  115        Aaron      Sharron        None          1804 E Montgomery St              None        Broken Arrow    OK  740121840   500.00  2008-02-09            34
115  116        Aaron     Patricia        None                418 NW 35th St              None       Oklahoma City    OK  731188602   200.00  2008-02-26            34
116  117        Aaron     Patricia        None                418 NW 35th St              None       Oklahoma City    OK  731188602   100.00  2008-02-12            34
117  118        Aaron          Jim        None              2178 Fairway Cir              None              Canton    MI  481885097   300.00  2008-02-07            34

In [38]:
# 2.

# List entries where the state is "VA" and the amount is less than  $400.00 .

query_a = '''SELECT * FROM contributors WHERE state = "VA"'''
viz_tables(contributor_cols, query_a)

    id  last_name first_name middle_name                     street_1 street_2             city state        zip  amount        date  candidate_id
0    1       Agee     Steven        None       549 Laurel Branch Road     None            Floyd    VA      24091  500.00  2007-06-30            16
1   28   Buckheit      Bruce        None                8904 KAREN DR     None          FAIRFAX    VA  220312731  100.00  2007-09-19            20
2   78  Ranganath      Anoop        None           2507 Willard Drive     None  Charlottesville    VA      22903 -100.00  2008-04-21            32
3   89  Perreault     Louise        None    503 Brockridge Hunt Drive     None          Hampton    VA      23666  -34.08  2008-04-21            32
4  146    ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340     None          FAIRFAX    VA  220308440   50.00  2007-09-30            35

In [43]:
# List entries where the state is "NULL".

query_b = '''SELECT * FROM contributors WHERE state is NULL'''
viz_tables(contributor_cols, query_b)

    id last_name first_name middle_name       street_1 street_2        city state   zip  amount        date  candidate_id
0  126    BOURNE     TRAVIS        None  LAGE KAART 77     None  BRASSCHATT  None  2930  -500.0  2008-11-20            35

In [45]:
# List entries for the states of Texas and Pennsylvania.

query_c = '''SELECT * FROM contributors WHERE state = "TX" OR state = "PA"'''
viz_tables(contributor_cols, query_c)

     id    last_name first_name middle_name                 street_1 street_2        city state        zip   amount        date  candidate_id
0    66      BURGERT     RONALD          L.      5723 PLUMTREE DRIVE     None      DALLAS    TX  752524926 -1000.00  2008-03-05            22
1    71      BUCKLEY     WALTER          W.        1635 COUNTRY ROAD     None   BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
2    72      BUCKLEY   MARJORIE          B.        1635 COUNTRY ROAD     None   BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
3    80         Muse       Nina          Jo      2915 Toro Canyon Rd     None      Austin    TX      78746   -50.00  2008-04-21            32
4    94       Raught     Philip           M            4714 Plum Way     None  Pittsburgh    PA      15201 -1046.00  2008-04-21            32
5    95      Ferrara     Judith           D      1508 Waterford Road     None     Yardley    PA      19067 -1100.00  2008-04-21            32
6    96      Johnson   Cathleen          E.  1003 Justin Ln Apt 2016     None      Austin    TX  787572648   -14.76  2008-04-21            32
7   133        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE     None    PEARLAND    TX  775816547    50.00  2007-09-30            35
8   134        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE     None    PEARLAND    TX  775816547   150.00  2007-08-09            35
9   135        ABREU      KEVIN          M.    1305 GARDEN GLEN LANE     None    PEARLAND    TX  775816547    50.00  2007-07-19            35
10  166         ABEL       JOHN          H.        422 THOMAS STREET     None   BETHLEHEM    PA  180153316   200.00  2008-01-22            37
11  170  ABERCROMBIE      DENIS        None       11811 WATER OAK CT     None    MAGNOLIA    TX  773546270   500.00  2008-01-30            37
12  174      ABRAHAM      SALEM          A.               P.O. BOX 7     None    CANADIAN    TX  790140007  1000.00  2008-01-17            37
13  175      ABRAHAM      SALEM          A.               P.O. BOX 7     None    CANADIAN    TX  790140007  1300.00  2008-01-30            37

In [46]:
# List entries where the amount contributed is between  $10.00  and  $50.00 .

query_d = '''SELECT * FROM contributors WHERE amount BETWEEN 10 AND 50'''
viz_tables(contributor_cols, query_d)

     id   last_name first_name middle_name                     street_1 street_2            city state        zip  amount        date  candidate_id
0     3      Ahrens        Don        None         4034 Rennellwood Way     None      Pleasanton    CA      94566    50.0  2007-06-18            16
1    19       Ardle    William        None            412 Dakota Avenue     None     Springfield    OH      45504    50.0  2007-06-28            16
2    26     Buckler      Steve        None              24351 Armada Dr     None      Dana Point    CA  926291306    50.0  2007-07-30            20
3    27     Buckler      Steve        None              24351 Armada Dr     None      Dana Point    CA  926291306    25.0  2007-08-16            20
4    35        Buck    Barbara        None             1780 NE 138th St     None     North Miami    FL  331811316    50.0  2007-09-13            20
5    36        Buck    Barbara        None             1780 NE 138th St     None     North Miami    FL  331811316    50.0  2007-07-19            20
6    39    Buchanek  Elizabeth        None             7917 Kentbury Dr     None        Bethesda    MD  208144615    50.0  2007-09-30            20
7    50    Harrison       Ryan        None                  2247 3rd St     None        La Verne    CA  917504918    25.0  2007-07-26            20
8   102      Aarons     Elaine        None   481 Buck Island Rd Apt 17A  APT 17A   West Yarmouth    MA   26733300    25.0  2008-02-26            34
9   105       Aaron    Shirley        None               101 Cherry Ave     None          Havana    FL  323331311    50.0  2008-02-29            34
10  121       Aaron     Carole        None                  PO Box 1806     None        Ogunquit    ME   39071806    50.0  2008-02-07            34
11  133       ABREU      KEVIN          M.        1305 GARDEN GLEN LANE     None        PEARLAND    TX  775816547    50.0  2007-09-30            35
12  135       ABREU      KEVIN          M.        1305 GARDEN GLEN LANE     None        PEARLAND    TX  775816547    50.0  2007-07-19            35
13  141       ABEGG   PATRICIA          T.              1862 E. 5150 S.     None  SALT LAKE CITY    UT  841176911    25.0  2007-09-17            35
14  144       ABEGG   PATRICIA          T.              1862 E. 5150 S.     None  SALT LAKE CITY    UT  841176911    25.0  2007-08-06            35
15  145       ABEGG   PATRICIA          T.              1862 E. 5150 S.     None  SALT LAKE CITY    UT  841176911    25.0  2007-07-10            35
16  146     ABDELLA     THOMAS          M.  4231 MONUMENT WALL WAY #340     None         FAIRFAX    VA  220308440    50.0  2007-09-30            35
17  148      ABBOTT     WELDON          S.    777 EAST SOUTH TEMPLE  4E     None  SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35
18  153      ABBOTT      SYBIL          F.              446 GAMES DRIVE     None            RENO    NV  895093326    50.0  2008-01-08            37
19  159        ABBO    PAULINE     MORENCY             10720 JACOB LANE     None      WHITE LAKE    MI  483862274    35.0  2008-01-07            37
20  161       ABAIR      PETER        None              40 EVANS STREET     None       WATERTOWN    MA   24722150    25.0  2008-01-09            37
21  173  ABRAHAMSON      PETER          J.        1030 W. ROSCOE STREET     None         CHICAGO    IL  606572207    50.0  2008-01-25            37

## Sorting

In [15]:
dfcand.sort_values(by='party')

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
13  29         Bill  Richardson         NaN     D
6   24         Mike      Gravel         NaN     D
11  20       Barack       Obama         NaN     D
9   31       Dennis    Kucinich         NaN     D
14  35         Mitt      Romney         NaN     R
12  32          Ron        Paul         NaN     R
8   30       Duncan      Hunter         NaN     R
15  38          Tom    Tancredo         NaN     R
7   16         Mike    Huckabee         NaN     R
5   22      Rudolph    Giuliani         NaN     R
1   36       Samuel   Brownback         NaN     R
10  37         John      McCain         NaN     R
16  41         Fred    Thompson          D.     R

In [16]:
dfcand.sort_values(by='party', ascending=False)

    id   first_name   last_name middle_name party
8   30       Duncan      Hunter         NaN     R
7   16         Mike    Huckabee         NaN     R
15  38          Tom    Tancredo         NaN     R
14  35         Mitt      Romney         NaN     R
12  32          Ron        Paul         NaN     R
10  37         John      McCain         NaN     R
1   36       Samuel   Brownback         NaN     R
16  41         Fred    Thompson          D.     R
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
9   31       Dennis    Kucinich         NaN     D
11  20       Barack       Obama         NaN     D
4   26         John     Edwards         NaN     D
13  29         Bill  Richardson         NaN     D
3   39  Christopher        Dodd          J.     D
2   34      Hillary     Clinton          R.     D
0   33       Joseph       Biden         NaN     D

## Selecting Columns

In [17]:
dfcand[['last_name', 'party']]

     last_name party
0        Biden     D
1    Brownback     R
2      Clinton     D
3         Dodd     D
4      Edwards     D
5     Giuliani     R
6       Gravel     D
7     Huckabee     R
8       Hunter     R
9     Kucinich     D
10      McCain     R
11       Obama     D
12        Paul     R
13  Richardson     D
14      Romney     R
15    Tancredo     R
16    Thompson     R

In [18]:
dfcand[['last_name', 'party']].count()

last_name    17
party        17
dtype: int64

In [19]:
dfcand[['first_name']].drop_duplicates()

     first_name
0        Joseph
1        Samuel
2       Hillary
3   Christopher
4          John
5       Rudolph
6          Mike
8        Duncan
9        Dennis
11       Barack
12          Ron
13         Bill
14         Mitt
15          Tom
16         Fred

In [20]:
dfcand[['first_name']].drop_duplicates().count()

first_name    15
dtype: int64

## Exercises

1. Sort the contributors table by `amount` and order in *descending* order.
2. Select the `first_name` and `amount` columns.
3. Select the `last_name` and `first_name` columns and drop duplicates.
4. Count how many there are after the duplicates have been dropped.

In [47]:
# 1. Sort the contributors table by amount and order in descending order.

dfcontr.sort_values(by = 'amount', ascending = False)

       last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id
30        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  4600.00  2007-08-14            20
159        ABATE        MARIA       ELENA       1291 NIGHTINGALE AVENUE               NaN       MIAMI SPRINGS    FL  331663832  2600.00  2008-01-25            37
15       Anthony         John         NaN         211 Long Island Drive               NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16
33          Buck       Blaine           M                  45 Eaton Ave               NaN              Camden    ME   48431752  2300.00  2007-09-30            20
28        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  2300.00  2007-08-14            20
21         Baker        David         NaN        2550 Adamsbrooke Drive               NaN              Conway    AR      72034  2300.00  2007-04-11            16
13         Altes         R.D.         NaN               8600 Moody Road               NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16
135   ABRAMOWITZ         NIRA         NaN               411 HARBOR ROAD               NaN           SOUTHPORT    CT   68901376  2300.00  2007-09-14            35
5           Akin         Mike         NaN              181 Baywood Lane               NaN          Monticello    AR      71655  1500.00  2007-05-18            16
174      ABRAHAM        SALEM          A.                    P.O. BOX 7               NaN            CANADIAN    TX  790140007  1300.00  2008-01-30            37
45      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20
9          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1300.00  2007-06-29            16
122        Aaron      Barbara         NaN          2298 Pacific Ave # 6               NaN       San Francisco    CA  941151435  1000.00  2008-02-11            34
23         Banks      Charles         NaN               P.O. Box 251310               NaN         Little Rock    AR      72225  1000.00  2007-05-14            16
19          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16
44      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20
20          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16
138   ABOUBAKARE        NASAR         NaN         1400 SAN MIGUEL DRIVE               NaN      CORONA DEL MAR    CA  926251300  1000.00  2007-07-09            35
8          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1000.00  2007-06-11            16
156       ABBOTT         MIKE          E.              4516 OSPREY LNDG               NaN           NICEVILLE    FL  325786810  1000.00  2008-01-15            37
11       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227  1000.00  2007-04-25            16
10       Allison      John W.         NaN                 P.O. Box 1089               NaN              Conway    AR      72033  1000.00  2007-05-18            16
173      ABRAHAM        SALEM          A.                    P.O. BOX 7               NaN            CANADIAN    TX  790140007  1000.00  2008-01-17            37
171      ABRAHAM       GEORGE         NaN                 P.O. BOX 1504               NaN        LAKE CHARLES    LA  706021504   800.00  2008-01-17            37
42      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20
114        Aaron      Sharron         NaN          1804 E Montgomery St               NaN        Broken Arrow    OK  740121840   500.00  2008-02-09            34
169  ABERCROMBIE        DENIS         NaN            11811 WATER OAK CT               NaN            MAGNOLIA    TX  773546270   500.00  2008-01-30            37
47      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20
168        ABELE       RODNEY         NaN  3620 METAIRIE HEIGHTS AVENUE               NaN            METAIRIE    LA  700021823   500.00  2008-01-15            37
39      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
164       AARONS      CHARLES         NaN              1730 SHORE DRIVE               NaN           ANCHORAGE    AK  995153207   500.00  2008-01-09            37
150       ABEDIN       ZAINUL         NaN         715 N. CENTRAL AVENUE         SUITE 212            GLENDALE    CA  912031164   500.00  2008-01-21            37
128       ACCORD         DEAN          C.      8813 ROBINSON RIDGE ROAD               NaN           LAS VEGAS    NV  891175812   500.00  2007-07-13            35
130      ABSHIER        LANNY         NaN        14191 S.E. HIGHWAY 301               NaN         SUMMERFIELD    FL      34491   500.00  2007-09-25            35
131      ABSHIER        DIANA         NaN        14191 S.E. HIGHWAY 301               NaN         SUMMERFIELD    FL      34491   500.00  2007-09-25            35
155       ABBOTT       ROBERT          A.               3061 LOREE ROAD               NaN         DECKERVILLE    MI  484279763   500.00  2008-01-21            37
41      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
0           Agee       Steven         NaN        549 Laurel Branch Road               NaN               Floyd    VA      24091   500.00  2007-06-30            16
6           Akin      Rebecca         NaN              181 Baywood Lane               NaN          Monticello    AR      71655   500.00  2007-05-18            16
24        Barbee         John         NaN          516 Kellyridge Drive               NaN                Apex    NC      27502   500.00  2007-05-23            16
16      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   500.00  2007-04-08            16
36       Buchman       Mark M         NaN               2530 Lawton Ave               NaN     San Luis Obispo    CA  934015622   460.80  2007-07-18            20
163       AARONS      CHARLES         NaN              1730 SHORE DRIVE               NaN           ANCHORAGE    AK  995153207   410.00  2008-01-15            37
162       AARONS      CHARLES         NaN              1730 SHORE DRIVE               NaN           ANCHORAGE    AK  995153207   300.00  2008-01-30            37
117        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   300.00  2008-02-07            34
137   ABRAMOWITZ          KEN         NaN           200 CENTRAL PARK S.     APARTMENT 31A            NEW YORK    NY  100191448   300.00  2007-09-11            35
123     Aanonsen          Lin         NaN               897 Raymond Ave               NaN          Saint Paul    MN  551141508   250.00  2008-02-21            34
1         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   250.00  2007-05-16            16
14        Andres         Dale         NaN          1160 Glen Oaks Drive               NaN     West Des Moines    IA      50266   250.00  2007-06-06            16
136       ABRAMS      MICHAEL         NaN          7910 WOODMONT AVENUE               NaN            BETHESDA    MD  208143002   250.00  2007-09-29            35
22      Bancroft        David         NaN         2934 Broderick Street               NaN       San Francisco    CA      94123   250.00  2007-04-24            16
7       Aldridge      Brittni         NaN  808 Capitol Square Place, SW               NaN          Washington    DC      20024   250.00  2007-06-06            16
48      Buchanan         John         NaN               4635 49th St NW               NaN          Washington    DC  200164320   200.09  2007-09-23            20
157        ABBOT        DAVID          M.               56 SALEM STREET               NaN             ANDOVER    MA   18102114   200.00  2008-01-21            37
12       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227   200.00  2007-06-12            16
32          Buck          Jay          K.   1855 Old Willow Rd Unit 322               NaN          Northfield    IL  600932918   200.00  2007-09-12            20
46      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   200.00  2007-08-14            20
153       ABBOTT       RONALD     LEANDER         5453 HAWTHORNE STREET               NaN           MONTCLAIR    CA  917632551   200.00  2008-01-31            37
115        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   200.00  2008-02-26            34
118        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   200.00  2008-02-29            34
165         ABEL         JOHN          H.             422 THOMAS STREET               NaN           BETHLEHEM    PA  180153316   200.00  2008-01-22            37
133        ABREU        KEVIN          M.         1305 GARDEN GLEN LANE               NaN            PEARLAND    TX  775816547   150.00  2007-08-09            35
161    ABACHERLI      SHIRLEY          M.            29875 NEWPORT ROAD               NaN             MENIFEE    CA  925849524   150.00  2008-01-28            37
170     ABESHAUS      MERRILL          M.        1801 N. HEREFORD DRIVE               NaN           FLAGSTAFF    AZ  860011121   120.00  2008-01-16            37
113        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-03            34
116        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   100.00  2008-02-12            34
112        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-08            34
109        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-17            34
121        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806   100.00  2008-02-03            34
27      Buckheit        Bruce         NaN                 8904 KAREN DR               NaN             FAIRFAX    VA  220312731   100.00  2007-09-19            20
108        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-22            34
124     Aanonsen          Lin         NaN               897 Raymond Ave               NaN          Saint Paul    MN  551141508   100.00  2008-02-08            34
129         ABTS        HENRY         NaN                P. O. BOX 7299               NaN     INCLINE VILLAGE    NV  894527299   100.00  2007-07-13            35
100     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-08            34
107        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-24            34
103       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34
106     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-14            34
37        Bucher          Ida           M              1400 Warnall Ave               NaN         Los Angeles    CA  900245333   100.00  2007-07-10            20
166         ABEL      MARLING          L.          14 HANGING MOSS LANE               NaN          GREENVILLE    SC  296155069   100.00  2008-01-22            37
154       ABBOTT       RONALD     LEANDER         5453 HAWTHORNE STREET               NaN           MONTCLAIR    CA  917632551   100.00  2008-01-08            37
4           Akin      Charles         NaN        10187 Sugar Creek Road               NaN         Bentonville    AR      72712   100.00  2007-06-16            16
105        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-29            34
146       ABBOTT       WELDON          S.     777 EAST SOUTH TEMPLE  4E               NaN      SALT LAKE CITY    UT  841021269   100.00  2007-09-29            35
167         ABEL      RUDOLPH         NaN              4532 OCEAN BLVD.             # 108            SARASOTA    FL  342421337   100.00  2008-01-08            37
148       ABBOTT       GERALD          F.            389 BENEFIT STREET               NaN          PROVIDENCE    RI   29032946   100.00  2007-09-15            35
149       ABBOTT       GERALD          F.            389 BENEFIT STREET               NaN          PROVIDENCE    RI   29032946   100.00  2007-08-15            35
3         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   100.00  2007-06-21            16
31          Buck       Thomas         NaN           4206 Terrace Street               NaN         Kansas City    MO      64111   100.00  2007-09-25            20
17      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   100.00  2007-06-22            16
151       ABBOTT        SYBIL          F.               446 GAMES DRIVE               NaN                RENO    NV  895093326    75.00  2008-01-08            37
139        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    75.00  2007-09-25            35
141        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    75.00  2007-08-31            35
142        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    75.00  2007-08-14            35
119        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806    70.00  2008-02-29            34
102       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34
2         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566    50.00  2007-06-18            16
172   ABRAHAMSON        PETER          J.         1030 W. ROSCOE STREET               NaN             CHICAGO    IL  606572207    50.00  2008-01-25            37
18         Ardle      William         NaN             412 Dakota Avenue               NaN         Springfield    OH      45504    50.00  2007-06-28            16
152       ABBOTT        SYBIL          F.               446 GAMES DRIVE               NaN                RENO    NV  895093326    50.00  2008-01-08            37
134        ABREU        KEVIN          M.         1305 GARDEN GLEN LANE               NaN            PEARLAND    TX  775816547    50.00  2007-07-19            35
120        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806    50.00  2008-02-07            34
147       ABBOTT       WELDON          S.     777 EAST SOUTH TEMPLE  4E               NaN      SALT LAKE CITY    UT  841021269    50.00  2007-08-09            35
25       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    50.00  2007-07-30            20
132        ABREU        KEVIN          M.         1305 GARDEN GLEN LANE               NaN            PEARLAND    TX  775816547    50.00  2007-09-30            35
145      ABDELLA       THOMAS          M.   4231 MONUMENT WALL WAY #340               NaN             FAIRFAX    VA  220308440    50.00  2007-09-30            35
38      Buchanek    Elizabeth         NaN              7917 Kentbury Dr               NaN            Bethesda    MD  208144615    50.00  2007-09-30            20
104        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311    50.00  2008-02-29            34
35          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-07-19            20
34          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-09-13            20
158         ABBO      PAULINE     MORENCY              10720 JACOB LANE               NaN          WHITE LAKE    MI  483862274    35.00  2008-01-07            37
26       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    25.00  2007-08-16            20
49      Harrison         Ryan         NaN                   2247 3rd St               NaN            La Verne    CA  917504918    25.00  2007-07-26            20
160        ABAIR        PETER         NaN               40 EVANS STREET               NaN           WATERTOWN    MA   24722150    25.00  2008-01-09            37
144        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    25.00  2007-07-10            35
143        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    25.00  2007-08-06            35
101       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34
140        ABEGG     PATRICIA          T.               1862 E. 5150 S.               NaN      SALT LAKE CITY    UT  841176911    25.00  2007-09-17            35
95       Johnson     Cathleen          E.       1003 Justin Ln Apt 2016               NaN              Austin    TX  787572648   -14.76  2008-04-21            32
96       Sanford      Bradley         NaN               940 Post St #43               NaN       San Francisco    CA      94109   -24.53  2008-04-21            32
92       Plummer       Joseph         NaN             587 Blake Hill Rd               NaN         New Hampton    NH   32564424   -24.60  2008-04-21            32
76         Hobbs        James         NaN               229 Cherry Lane               NaN         White House    TN      37188   -25.00  2008-08-19            32
75        Schuff        Bryan         NaN              1700 W Sweden Rd               NaN           Brockport    NY      14420   -25.00  2008-08-22            32

In [48]:
# 2. Select the first_name and amount columns.
dfcontr[['first_name', 'amount']]

      first_name   amount
0         Steven   500.00
1            Don   250.00
2            Don    50.00
3            Don   100.00
4        Charles   100.00
5           Mike  1500.00
6        Rebecca   500.00
7        Brittni   250.00
8        John D.  1000.00
9        John D.  1300.00
10       John W.  1000.00
11       Rebecca  1000.00
12       Rebecca   200.00
13          R.D.  2300.00
14          Dale   250.00
15          John  2300.00
16        Robert   500.00
17        Robert   100.00
18       William    50.00
19          Omar  1000.00
20          Omar  1000.00
21         David  2300.00
22         David   250.00
23       Charles  1000.00
24          John   500.00
25         Steve    50.00
26         Steve    25.00
27         Bruce   100.00
28         Linda  2300.00
29         Linda -2300.00
30         Linda  4600.00
31        Thomas   100.00
32           Jay   200.00
33        Blaine  2300.00
34       Barbara    50.00
35       Barbara    50.00
36        Mark M   460.80
37           Ida   100.00
38     Elizabeth    50.00
39          John   500.00
40          John  -500.00
41          John   500.00
42          John   700.00
43          John  -700.00
44          John  1000.00
45          John  1300.00
46          John   200.00
47          John   500.00
48          John   200.09
49          Ryan    25.00
50       HERBERT  -500.00
51      MARGARET -2300.00
52           BOB -2300.00
53        AUDREY  -200.00
54       KRYSTIE -2300.00
55          ERIC -2300.00
56         SUSAN -2300.00
57        STEVEN -2300.00
58         GLENN -2300.00
59         CRAIG  -500.00
60         CRAIG -1000.00
61       BARBARA  -500.00
62       SUZANNE  -700.00
63          GAIL -2000.00
64        DONALD -2300.00
65        RONALD -1000.00
66        BARTLE  -800.00
67        BARTLE -1000.00
68        DANIEL  -100.00
69      MARGARET  -200.00
70        WALTER  -100.00
71      MARJORIE  -100.00
72          JOHN -2300.00
73         IRENE -2300.00
74       TIMOTHY -2300.00
75         Bryan   -25.00
76         James   -25.00
77         Anoop  -100.00
78       Michael  -503.00
79          Nina   -50.00
80         James   -28.00
81       William  -150.00
82         David  -330.00
83      Jeanette -1000.00
84       Richard -2300.00
85        Robert  -223.00
86          Alan  -844.80
87        Marcia  -299.50
88        Louise   -34.08
89         Timur  -777.95
90   Christopher -2592.00
91        Thomas  -200.00
92        Joseph   -24.60
93        Philip -1046.00
94        Judith -1100.00
95      Cathleen   -14.76
96       Bradley   -24.53
97         Bruce  -261.00
98     Hyeokchan   -39.50
99       Richard -1000.00
100      Rebecca   100.00
101       Elaine    25.00
102       Elaine    70.00
103       Elaine   100.00
104      Shirley    50.00
105      Shirley   100.00
106      Rebecca   100.00
107      Shirley   100.00
108      Shirley   100.00
109      Shirley   100.00
110    Elizabeth  -350.00
111       Thomas -2300.00
112      Shirley   100.00
113      Shirley   100.00
114      Sharron   500.00
115     Patricia   200.00
116     Patricia   100.00
117          Jim   300.00
118          Jim   200.00
119       Carole    70.00
120       Carole    50.00
121       Carole   100.00
122      Barbara  1000.00
123          Lin   250.00
124          Lin   100.00
125       TRAVIS  -500.00
126        BRIAN -1000.00
127       TRAVIS -1000.00
128         DEAN   500.00
129        HENRY   100.00
130        LANNY   500.00
131        DIANA   500.00
132        KEVIN    50.00
133        KEVIN   150.00
134        KEVIN    50.00
135         NIRA  2300.00
136      MICHAEL   250.00
137          KEN   300.00
138        NASAR  1000.00
139     PATRICIA    75.00
140     PATRICIA    25.00
141     PATRICIA    75.00
142     PATRICIA    75.00
143     PATRICIA    25.00
144     PATRICIA    25.00
145       THOMAS    50.00
146       WELDON   100.00
147       WELDON    50.00
148       GERALD   100.00
149       GERALD   100.00
150       ZAINUL   500.00
151        SYBIL    75.00
152        SYBIL    50.00
153       RONALD   200.00
154       RONALD   100.00
155       ROBERT   500.00
156         MIKE  1000.00
157        DAVID   200.00
158      PAULINE    35.00
159        MARIA  2600.00
160        PETER    25.00
161      SHIRLEY   150.00
162      CHARLES   300.00
163      CHARLES   410.00
164      CHARLES   500.00
165         JOHN   200.00
166      MARLING   100.00
167      RUDOLPH   100.00
168       RODNEY   500.00
169        DENIS   500.00
170      MERRILL   120.00
171       GEORGE   800.00
172        PETER    50.00
173        SALEM  1000.00
174        SALEM  1300.00

In [49]:
# 3. Select the last_name and first_name columns and drop duplicates.
dfcontr[['last_name', 'first_name']].drop_duplicates()

       last_name   first_name
0           Agee       Steven
1         Ahrens          Don
4           Akin      Charles
5           Akin         Mike
6           Akin      Rebecca
7       Aldridge      Brittni
8          Allen      John D.
10       Allison      John W.
11       Allison      Rebecca
13         Altes         R.D.
14        Andres         Dale
15       Anthony         John
16      Arbogast       Robert
18         Ardle      William
19          Atiq         Omar
21         Baker        David
22      Bancroft        David
23         Banks      Charles
24        Barbee         John
25       Buckler        Steve
27      Buckheit        Bruce
28        Buckel        Linda
31          Buck       Thomas
32          Buck          Jay
33          Buck       Blaine
34          Buck      Barbara
36       Buchman       Mark M
37        Bucher          Ida
38      Buchanek    Elizabeth
39      Buchanan         John
49      Harrison         Ryan
50         BYNUM      HERBERT
51      BYINGTON     MARGARET
52         BYERS          BOB
53         BYERS       AUDREY
54          BUSH      KRYSTIE
55          BUSH         ERIC
56        BURTON        SUSAN
57        BURTON       STEVEN
58        BURTON        GLENN
59     BURKHARDT        CRAIG
61     BURKHARDT      BARBARA
62         BURKE      SUZANNE
63         BURKE         GAIL
64         BURKE       DONALD
65       BURGERT       RONALD
66          BULL       BARTLE
68      BUKOWSKI       DANIEL
69       BUISSON     MARGARET
70       BUCKLEY       WALTER
71       BUCKLEY     MARJORIE
72         BRUNO         JOHN
73         BRUNO        IRENE
74         BROWN      TIMOTHY
75        Schuff        Bryan
76         Hobbs        James
77     Ranganath        Anoop
78       Nystrom      Michael
79          Muse         Nina
80       Waddell        James
81        Brucks      William
82         Kuehn        David
83       Verster     Jeanette
84       Uihlein      Richard
85    Eskenberry       Robert
86     Froehling         Alan
87        Duryea       Marcia
88     Perreault       Louise
89     Rozenfeld        Timur
90         Kazor  Christopher
91        Lehner       Thomas
92       Plummer       Joseph
93        Raught       Philip
94       Ferrara       Judith
95       Johnson     Cathleen
96       Sanford      Bradley
97       Gaarder        Bruce
98          Choe    Hyeokchan
99        Jacobs      Richard
100     Aaronson      Rebecca
101       Aarons       Elaine
104        Aaron      Shirley
110         Reid    Elizabeth
111        Reich       Thomas
114        Aaron      Sharron
115        Aaron     Patricia
117        Aaron          Jim
119        Aaron       Carole
122        Aaron      Barbara
123     Aanonsen          Lin
125       BOURNE       TRAVIS
126      SECRIST        BRIAN
127   TOLLESTRUP       TRAVIS
128       ACCORD         DEAN
129         ABTS        HENRY
130      ABSHIER        LANNY
131      ABSHIER        DIANA
132        ABREU        KEVIN
135   ABRAMOWITZ         NIRA
136       ABRAMS      MICHAEL
137   ABRAMOWITZ          KEN
138   ABOUBAKARE        NASAR
139        ABEGG     PATRICIA
145      ABDELLA       THOMAS
146       ABBOTT       WELDON
148       ABBOTT       GERALD
150       ABEDIN       ZAINUL
151       ABBOTT        SYBIL
153       ABBOTT       RONALD
155       ABBOTT       ROBERT
156       ABBOTT         MIKE
157        ABBOT        DAVID
158         ABBO      PAULINE
159        ABATE        MARIA
160        ABAIR        PETER
161    ABACHERLI      SHIRLEY
162       AARONS      CHARLES
165         ABEL         JOHN
166         ABEL      MARLING
167         ABEL      RUDOLPH
168        ABELE       RODNEY
169  ABERCROMBIE        DENIS
170     ABESHAUS      MERRILL
171      ABRAHAM       GEORGE
172   ABRAHAMSON        PETER
173      ABRAHAM        SALEM

In [50]:
# 4. Count how many there are after the duplicates have been dropped.


dfcontr[['last_name', 'first_name']].drop_duplicates().count()

last_name     126
first_name    126
dtype: int64

## Altering Tables

Creating a new column is quite easy with `pandas`.

In [21]:
dfcand['name'] = dfcand['last_name'] + ", " + dfcand['first_name']
dfcand

    id   first_name   last_name middle_name party               name
0   33       Joseph       Biden         NaN     D      Biden, Joseph
1   36       Samuel   Brownback         NaN     R  Brownback, Samuel
2   34      Hillary     Clinton          R.     D   Clinton, Hillary
3   39  Christopher        Dodd          J.     D  Dodd, Christopher
4   26         John     Edwards         NaN     D      Edwards, John
5   22      Rudolph    Giuliani         NaN     R  Giuliani, Rudolph
6   24         Mike      Gravel         NaN     D       Gravel, Mike
7   16         Mike    Huckabee         NaN     R     Huckabee, Mike
8   30       Duncan      Hunter         NaN     R     Hunter, Duncan
9   31       Dennis    Kucinich         NaN     D   Kucinich, Dennis
10  37         John      McCain         NaN     R       McCain, John
11  20       Barack       Obama         NaN     D      Obama, Barack
12  32          Ron        Paul         NaN     R          Paul, Ron
13  29         Bill  Richardson         NaN     D   Richardson, Bill
14  35         Mitt      Romney         NaN     R       Romney, Mitt
15  38          Tom    Tancredo         NaN     R      Tancredo, Tom
16  41         Fred    Thompson          D.     R     Thompson, Fred

We can change an existing field as well.

In [22]:
dfcand.loc[dfcand.first_name == "Mike", "name"]

6      Gravel, Mike
7    Huckabee, Mike
Name: name, dtype: object

In [23]:
dfcand.loc[dfcand.first_name == "Mike", "name"] = "Mikey"
dfcand

    id   first_name   last_name middle_name party               name
0   33       Joseph       Biden         NaN     D      Biden, Joseph
1   36       Samuel   Brownback         NaN     R  Brownback, Samuel
2   34      Hillary     Clinton          R.     D   Clinton, Hillary
3   39  Christopher        Dodd          J.     D  Dodd, Christopher
4   26         John     Edwards         NaN     D      Edwards, John
5   22      Rudolph    Giuliani         NaN     R  Giuliani, Rudolph
6   24         Mike      Gravel         NaN     D              Mikey
7   16         Mike    Huckabee         NaN     R              Mikey
8   30       Duncan      Hunter         NaN     R     Hunter, Duncan
9   31       Dennis    Kucinich         NaN     D   Kucinich, Dennis
10  37         John      McCain         NaN     R       McCain, John
11  20       Barack       Obama         NaN     D      Obama, Barack
12  32          Ron        Paul         NaN     R          Paul, Ron
13  29         Bill  Richardson         NaN     D   Richardson, Bill
14  35         Mitt      Romney         NaN     R       Romney, Mitt
15  38          Tom    Tancredo         NaN     R      Tancredo, Tom
16  41         Fred    Thompson          D.     R     Thompson, Fred

In [24]:
dfcand.query("first_name == 'Mike'")
dfcand

    id   first_name   last_name middle_name party               name
0   33       Joseph       Biden         NaN     D      Biden, Joseph
1   36       Samuel   Brownback         NaN     R  Brownback, Samuel
2   34      Hillary     Clinton          R.     D   Clinton, Hillary
3   39  Christopher        Dodd          J.     D  Dodd, Christopher
4   26         John     Edwards         NaN     D      Edwards, John
5   22      Rudolph    Giuliani         NaN     R  Giuliani, Rudolph
6   24         Mike      Gravel         NaN     D              Mikey
7   16         Mike    Huckabee         NaN     R              Mikey
8   30       Duncan      Hunter         NaN     R     Hunter, Duncan
9   31       Dennis    Kucinich         NaN     D   Kucinich, Dennis
10  37         John      McCain         NaN     R       McCain, John
11  20       Barack       Obama         NaN     D      Obama, Barack
12  32          Ron        Paul         NaN     R          Paul, Ron
13  29         Bill  Richardson         NaN     D   Richardson, Bill
14  35         Mitt      Romney         NaN     R       Romney, Mitt
15  38          Tom    Tancredo         NaN     R      Tancredo, Tom
16  41         Fred    Thompson          D.     R     Thompson, Fred

You may recall that `SQLite` doesn't have the functionality to drop a column.
It can be done with one line using `pandas`:

In [25]:
del dfcand['name']
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

## Exercises

1. Create a `name` column for the `contributors` table with field entries of the
   form "last name, first name"
2. For contributors from the state of "PA", change `name` to "X".
3. Delete the newly created name column.

In [51]:
# 1. 

dfcontr['name'] = dfcontr['last_name'] + ", " + dfcontr['first_name']

dfcontr

       last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id                 name
0           Agee       Steven         NaN        549 Laurel Branch Road               NaN               Floyd    VA      24091   500.00  2007-06-30            16         Agee, Steven
1         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   250.00  2007-05-16            16          Ahrens, Don
2         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566    50.00  2007-06-18            16          Ahrens, Don
3         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   100.00  2007-06-21            16          Ahrens, Don
4           Akin      Charles         NaN        10187 Sugar Creek Road               NaN         Bentonville    AR      72712   100.00  2007-06-16            16        Akin, Charles
5           Akin         Mike         NaN              181 Baywood Lane               NaN          Monticello    AR      71655  1500.00  2007-05-18            16           Akin, Mike
6           Akin      Rebecca         NaN              181 Baywood Lane               NaN          Monticello    AR      71655   500.00  2007-05-18            16        Akin, Rebecca
7       Aldridge      Brittni         NaN  808 Capitol Square Place, SW               NaN          Washington    DC      20024   250.00  2007-06-06            16    Aldridge, Brittni
8          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1000.00  2007-06-11            16       Allen, John D.
9          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1300.00  2007-06-29            16       Allen, John D.
10       Allison      John W.         NaN                 P.O. Box 1089               NaN              Conway    AR      72033  1000.00  2007-05-18            16     Allison, John W.
11       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227  1000.00  2007-04-25            16     Allison, Rebecca
12       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227   200.00  2007-06-12            16     Allison, Rebecca
13         Altes         R.D.         NaN               8600 Moody Road               NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16          Altes, R.D.
14        Andres         Dale         NaN          1160 Glen Oaks Drive               NaN     West Des Moines    IA      50266   250.00  2007-06-06            16         Andres, Dale
15       Anthony         John         NaN         211 Long Island Drive               NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16        Anthony, John
16      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   500.00  2007-04-08            16     Arbogast, Robert
17      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   100.00  2007-06-22            16     Arbogast, Robert
18         Ardle      William         NaN             412 Dakota Avenue               NaN         Springfield    OH      45504    50.00  2007-06-28            16       Ardle, William
19          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16           Atiq, Omar
20          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16           Atiq, Omar
21         Baker        David         NaN        2550 Adamsbrooke Drive               NaN              Conway    AR      72034  2300.00  2007-04-11            16         Baker, David
22      Bancroft        David         NaN         2934 Broderick Street               NaN       San Francisco    CA      94123   250.00  2007-04-24            16      Bancroft, David
23         Banks      Charles         NaN               P.O. Box 251310               NaN         Little Rock    AR      72225  1000.00  2007-05-14            16       Banks, Charles
24        Barbee         John         NaN          516 Kellyridge Drive               NaN                Apex    NC      27502   500.00  2007-05-23            16         Barbee, John
25       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    50.00  2007-07-30            20       Buckler, Steve
26       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    25.00  2007-08-16            20       Buckler, Steve
27      Buckheit        Bruce         NaN                 8904 KAREN DR               NaN             FAIRFAX    VA  220312731   100.00  2007-09-19            20      Buckheit, Bruce
28        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  2300.00  2007-08-14            20        Buckel, Linda
29        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130 -2300.00  2007-08-14            20        Buckel, Linda
30        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  4600.00  2007-08-14            20        Buckel, Linda
31          Buck       Thomas         NaN           4206 Terrace Street               NaN         Kansas City    MO      64111   100.00  2007-09-25            20         Buck, Thomas
32          Buck          Jay          K.   1855 Old Willow Rd Unit 322               NaN          Northfield    IL  600932918   200.00  2007-09-12            20            Buck, Jay
33          Buck       Blaine           M                  45 Eaton Ave               NaN              Camden    ME   48431752  2300.00  2007-09-30            20         Buck, Blaine
34          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-09-13            20        Buck, Barbara
35          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-07-19            20        Buck, Barbara
36       Buchman       Mark M         NaN               2530 Lawton Ave               NaN     San Luis Obispo    CA  934015622   460.80  2007-07-18            20      Buchman, Mark M
37        Bucher          Ida           M              1400 Warnall Ave               NaN         Los Angeles    CA  900245333   100.00  2007-07-10            20          Bucher, Ida
38      Buchanek    Elizabeth         NaN              7917 Kentbury Dr               NaN            Bethesda    MD  208144615    50.00  2007-09-30            20  Buchanek, Elizabeth
39      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
40      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -500.00  2007-09-24            20       Buchanan, John
41      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
42      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20       Buchanan, John
43      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -700.00  2007-08-28            20       Buchanan, John
44      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20       Buchanan, John
45      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20       Buchanan, John
46      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   200.00  2007-08-14            20       Buchanan, John
47      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20       Buchanan, John
48      Buchanan         John         NaN               4635 49th St NW               NaN          Washington    DC  200164320   200.09  2007-09-23            20       Buchanan, John
49      Harrison         Ryan         NaN                   2247 3rd St               NaN            La Verne    CA  917504918    25.00  2007-07-26            20       Harrison, Ryan
50         BYNUM      HERBERT         NaN            332 SUNNYSIDE ROAD               NaN               TAMPA    FL  336177249  -500.00  2008-03-10            22       BYNUM, HERBERT
51      BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.               NaN        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22   BYINGTON, MARGARET
52         BYERS          BOB          A.          13170 TELFAIR AVENUE               NaN              SYLMAR    CA  913423573 -2300.00  2008-03-07            22           BYERS, BOB
53         BYERS       AUDREY         NaN             2658 LADBROOK WAY               NaN       THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22        BYERS, AUDREY
54          BUSH      KRYSTIE         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22        BUSH, KRYSTIE
55          BUSH         ERIC         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22           BUSH, ERIC
56        BURTON        SUSAN         NaN         9338 DEER CREEK DRIVE               NaN               TAMPA    FL  336472286 -2300.00  2008-03-05            22        BURTON, SUSAN
57        BURTON       STEVEN          G.         9938 DEER CREEK DRIVE               NaN               TAMPA    FL      33647 -2300.00  2008-03-05            22       BURTON, STEVEN
58        BURTON        GLENN          M.         4404 CHARLESTON COURT               NaN               TAMPA    FL  336092620 -2300.00  2008-03-05            22        BURTON, GLENN
59     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22     BURKHARDT, CRAIG
60     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22     BURKHARDT, CRAIG
61     BURKHARDT      BARBARA         NaN          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22   BURKHARDT, BARBARA
62         BURKE      SUZANNE          M.                 3401 EVANSTON               NaN             SEATTLE    WA  981038677  -700.00  2008-03-05            22       BURKE, SUZANNE
63         BURKE         GAIL         NaN            165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22          BURKE, GAIL
64         BURKE       DONALD          J.                     12 LOMPOC               NaN  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22        BURKE, DONALD
65       BURGERT       RONALD          L.           5723 PLUMTREE DRIVE               NaN              DALLAS    TX  752524926 -1000.00  2008-03-05            22      BURGERT, RONALD
66          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473  -800.00  2008-03-10            22         BULL, BARTLE
67          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473 -1000.00  2008-03-10            22         BULL, BARTLE
68      BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET               NaN          NAPERVILLE    IL  605406736  -100.00  2008-03-10            22     BUKOWSKI, DANIEL
69       BUISSON     MARGARET          A.               P.O. BOX 197029               NaN          LOUISVILLE    KY  402597029  -200.00  2008-03-11            22    BUISSON, MARGARET
70       BUCKLEY       WALTER          W.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22      BUCKLEY, WALTER
71       BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22    BUCKLEY, MARJORIE
72         BRUNO         JOHN         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22          BRUNO, JOHN
73         BRUNO        IRENE         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22         BRUNO, IRENE
74         BROWN      TIMOTHY          J.           26826 MARLOWE COURT               NaN     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22       BROWN, TIMOTHY
75        Schuff        Bryan         NaN              1700 W Sweden Rd               NaN           Brockport    NY      14420   -25.00  2008-08-22            32        Schuff, Bryan
76         Hobbs        James         NaN               229 Cherry Lane               NaN         White House    TN      37188   -25.00  2008-08-19            32         Hobbs, James
77     Ranganath        Anoop         NaN            2507 Willard Drive               NaN     Charlottesville    VA      22903  -100.00  2008-04-21            32     Ranganath, Anoop
78       Nystrom      Michael           A           93A Fairmont Street               NaN           Arlington    MA       2474  -503.00  2008-04-21            32     Nystrom, Michael
79          Muse         Nina          Jo           2915 Toro Canyon Rd               NaN              Austin    TX      78746   -50.00  2008-04-21            32           Muse, Nina
80       Waddell        James          L.             1823 Spel Lane SW               NaN           Rochester    MN      55902   -28.00  2008-04-21            32       Waddell, James
81        Brucks      William          C.                    PO Box 391               NaN      Corona del Mar    CA      92625  -150.00  2008-04-21            32      Brucks, William
82         Kuehn        David         NaN        14502 West 93rd Street               NaN              Lenexa    KS      66215  -330.00  2008-04-21            32         Kuehn, David
83       Verster     Jeanette          M.               7220 SW 61st St               NaN               Miami    FL  331431807 -1000.00  2008-04-21            32    Verster, Jeanette
84       Uihlein      Richard         NaN            1396 N Waukegan Rd               NaN         Lake Forest    IL  600451147 -2300.00  2008-04-21            32     Uihlein, Richard
85    Eskenberry       Robert           P                10960 Gray Cir               NaN         Westminster    CO      80020  -223.00  2008-04-21            32   Eskenberry, Robert
86     Froehling         Alan          L.               302 Broadway St               NaN        Mount Vernon    IL  628645116  -844.80  2008-04-21            32      Froehling, Alan
87        Duryea       Marcia          A.               123 Bayview Ave               NaN          Amityville    NY      11701  -299.50  2008-04-21            32       Duryea, Marcia
88     Perreault       Louise         NaN     503 Brockridge Hunt Drive               NaN             Hampton    VA      23666   -34.08  2008-04-21            32    Perreault, Louise
89     Rozenfeld        Timur         NaN               57 Herbert Road               NaN        Robbinsville    NJ       8691  -777.95  2008-04-21            32     Rozenfeld, Timur
90         Kazor  Christopher           M           707 Spindletree ave               NaN          Naperville    IL      60565 -2592.00  2008-04-21            32   Kazor, Christopher
91        Lehner       Thomas          S.                2701 Star Lane               NaN           Wadsworth    OH      44281  -200.00  2008-04-21            32       Lehner, Thomas
92       Plummer       Joseph         NaN             587 Blake Hill Rd               NaN         New Hampton    NH   32564424   -24.60  2008-04-21            32      Plummer, Joseph
93        Raught       Philip           M                 4714 Plum Way               NaN          Pittsburgh    PA      15201 -1046.00  2008-04-21            32       Raught, Philip
94       Ferrara       Judith           D           1508 Waterford Road               NaN             Yardley    PA      19067 -1100.00  2008-04-21            32      Ferrara, Judith
95       Johnson     Cathleen          E.       1003 Justin Ln Apt 2016               NaN              Austin    TX  787572648   -14.76  2008-04-21            32    Johnson, Cathleen
96       Sanford      Bradley         NaN               940 Post St #43               NaN       San Francisco    CA      94109   -24.53  2008-04-21            32     Sanford, Bradley
97       Gaarder        Bruce         NaN                   PO Box 4085               NaN   Mountain Home AFB    ID      83648  -261.00  2008-04-21            32       Gaarder, Bruce
98          Choe    Hyeokchan         NaN                207 Bridle Way               NaN            Fort Lee    NJ   70246302   -39.50  2008-04-21            32      Choe, Hyeokchan
99        Jacobs      Richard          G.                14337 Tawya Rd               NaN        Apple Valley    CA  923075545 -1000.00  2008-04-21            32      Jacobs, Richard
100     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-08            34    Aaronson, Rebecca
101       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34       Aarons, Elaine
102       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34       Aarons, Elaine
103       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34       Aarons, Elaine
104        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311    50.00  2008-02-29            34       Aaron, Shirley
105        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-29            34       Aaron, Shirley
106     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-14            34    Aaronson, Rebecca
107        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-24            34       Aaron, Shirley

In [55]:
# 2.

dfcontr.loc[dfcontr['state'] == "PA", 'name'] = "X"
dfcontr

       last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id                 name
0           Agee       Steven         NaN        549 Laurel Branch Road               NaN               Floyd    VA      24091   500.00  2007-06-30            16         Agee, Steven
1         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   250.00  2007-05-16            16          Ahrens, Don
2         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566    50.00  2007-06-18            16          Ahrens, Don
3         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   100.00  2007-06-21            16          Ahrens, Don
4           Akin      Charles         NaN        10187 Sugar Creek Road               NaN         Bentonville    AR      72712   100.00  2007-06-16            16        Akin, Charles
5           Akin         Mike         NaN              181 Baywood Lane               NaN          Monticello    AR      71655  1500.00  2007-05-18            16           Akin, Mike
6           Akin      Rebecca         NaN              181 Baywood Lane               NaN          Monticello    AR      71655   500.00  2007-05-18            16        Akin, Rebecca
7       Aldridge      Brittni         NaN  808 Capitol Square Place, SW               NaN          Washington    DC      20024   250.00  2007-06-06            16    Aldridge, Brittni
8          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1000.00  2007-06-11            16       Allen, John D.
9          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1300.00  2007-06-29            16       Allen, John D.
10       Allison      John W.         NaN                 P.O. Box 1089               NaN              Conway    AR      72033  1000.00  2007-05-18            16     Allison, John W.
11       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227  1000.00  2007-04-25            16     Allison, Rebecca
12       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227   200.00  2007-06-12            16     Allison, Rebecca
13         Altes         R.D.         NaN               8600 Moody Road               NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16          Altes, R.D.
14        Andres         Dale         NaN          1160 Glen Oaks Drive               NaN     West Des Moines    IA      50266   250.00  2007-06-06            16         Andres, Dale
15       Anthony         John         NaN         211 Long Island Drive               NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16        Anthony, John
16      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   500.00  2007-04-08            16     Arbogast, Robert
17      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   100.00  2007-06-22            16     Arbogast, Robert
18         Ardle      William         NaN             412 Dakota Avenue               NaN         Springfield    OH      45504    50.00  2007-06-28            16       Ardle, William
19          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16           Atiq, Omar
20          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16           Atiq, Omar
21         Baker        David         NaN        2550 Adamsbrooke Drive               NaN              Conway    AR      72034  2300.00  2007-04-11            16         Baker, David
22      Bancroft        David         NaN         2934 Broderick Street               NaN       San Francisco    CA      94123   250.00  2007-04-24            16      Bancroft, David
23         Banks      Charles         NaN               P.O. Box 251310               NaN         Little Rock    AR      72225  1000.00  2007-05-14            16       Banks, Charles
24        Barbee         John         NaN          516 Kellyridge Drive               NaN                Apex    NC      27502   500.00  2007-05-23            16         Barbee, John
25       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    50.00  2007-07-30            20       Buckler, Steve
26       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    25.00  2007-08-16            20       Buckler, Steve
27      Buckheit        Bruce         NaN                 8904 KAREN DR               NaN             FAIRFAX    VA  220312731   100.00  2007-09-19            20      Buckheit, Bruce
28        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  2300.00  2007-08-14            20        Buckel, Linda
29        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130 -2300.00  2007-08-14            20        Buckel, Linda
30        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  4600.00  2007-08-14            20        Buckel, Linda
31          Buck       Thomas         NaN           4206 Terrace Street               NaN         Kansas City    MO      64111   100.00  2007-09-25            20         Buck, Thomas
32          Buck          Jay          K.   1855 Old Willow Rd Unit 322               NaN          Northfield    IL  600932918   200.00  2007-09-12            20            Buck, Jay
33          Buck       Blaine           M                  45 Eaton Ave               NaN              Camden    ME   48431752  2300.00  2007-09-30            20         Buck, Blaine
34          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-09-13            20        Buck, Barbara
35          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-07-19            20        Buck, Barbara
36       Buchman       Mark M         NaN               2530 Lawton Ave               NaN     San Luis Obispo    CA  934015622   460.80  2007-07-18            20      Buchman, Mark M
37        Bucher          Ida           M              1400 Warnall Ave               NaN         Los Angeles    CA  900245333   100.00  2007-07-10            20          Bucher, Ida
38      Buchanek    Elizabeth         NaN              7917 Kentbury Dr               NaN            Bethesda    MD  208144615    50.00  2007-09-30            20  Buchanek, Elizabeth
39      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
40      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -500.00  2007-09-24            20       Buchanan, John
41      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20       Buchanan, John
42      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20       Buchanan, John
43      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -700.00  2007-08-28            20       Buchanan, John
44      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20       Buchanan, John
45      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20       Buchanan, John
46      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   200.00  2007-08-14            20       Buchanan, John
47      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20       Buchanan, John
48      Buchanan         John         NaN               4635 49th St NW               NaN          Washington    DC  200164320   200.09  2007-09-23            20       Buchanan, John
49      Harrison         Ryan         NaN                   2247 3rd St               NaN            La Verne    CA  917504918    25.00  2007-07-26            20       Harrison, Ryan
50         BYNUM      HERBERT         NaN            332 SUNNYSIDE ROAD               NaN               TAMPA    FL  336177249  -500.00  2008-03-10            22       BYNUM, HERBERT
51      BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.               NaN        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22   BYINGTON, MARGARET
52         BYERS          BOB          A.          13170 TELFAIR AVENUE               NaN              SYLMAR    CA  913423573 -2300.00  2008-03-07            22           BYERS, BOB
53         BYERS       AUDREY         NaN             2658 LADBROOK WAY               NaN       THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22        BYERS, AUDREY
54          BUSH      KRYSTIE         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22        BUSH, KRYSTIE
55          BUSH         ERIC         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22           BUSH, ERIC
56        BURTON        SUSAN         NaN         9338 DEER CREEK DRIVE               NaN               TAMPA    FL  336472286 -2300.00  2008-03-05            22        BURTON, SUSAN
57        BURTON       STEVEN          G.         9938 DEER CREEK DRIVE               NaN               TAMPA    FL      33647 -2300.00  2008-03-05            22       BURTON, STEVEN
58        BURTON        GLENN          M.         4404 CHARLESTON COURT               NaN               TAMPA    FL  336092620 -2300.00  2008-03-05            22        BURTON, GLENN
59     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22     BURKHARDT, CRAIG
60     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22     BURKHARDT, CRAIG
61     BURKHARDT      BARBARA         NaN          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22   BURKHARDT, BARBARA
62         BURKE      SUZANNE          M.                 3401 EVANSTON               NaN             SEATTLE    WA  981038677  -700.00  2008-03-05            22       BURKE, SUZANNE
63         BURKE         GAIL         NaN            165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22          BURKE, GAIL
64         BURKE       DONALD          J.                     12 LOMPOC               NaN  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22        BURKE, DONALD
65       BURGERT       RONALD          L.           5723 PLUMTREE DRIVE               NaN              DALLAS    TX  752524926 -1000.00  2008-03-05            22      BURGERT, RONALD
66          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473  -800.00  2008-03-10            22         BULL, BARTLE
67          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473 -1000.00  2008-03-10            22         BULL, BARTLE
68      BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET               NaN          NAPERVILLE    IL  605406736  -100.00  2008-03-10            22     BUKOWSKI, DANIEL
69       BUISSON     MARGARET          A.               P.O. BOX 197029               NaN          LOUISVILLE    KY  402597029  -200.00  2008-03-11            22    BUISSON, MARGARET
70       BUCKLEY       WALTER          W.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22                    X
71       BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22                    X
72         BRUNO         JOHN         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22          BRUNO, JOHN
73         BRUNO        IRENE         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22         BRUNO, IRENE
74         BROWN      TIMOTHY          J.           26826 MARLOWE COURT               NaN     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22       BROWN, TIMOTHY
75        Schuff        Bryan         NaN              1700 W Sweden Rd               NaN           Brockport    NY      14420   -25.00  2008-08-22            32        Schuff, Bryan
76         Hobbs        James         NaN               229 Cherry Lane               NaN         White House    TN      37188   -25.00  2008-08-19            32         Hobbs, James
77     Ranganath        Anoop         NaN            2507 Willard Drive               NaN     Charlottesville    VA      22903  -100.00  2008-04-21            32     Ranganath, Anoop
78       Nystrom      Michael           A           93A Fairmont Street               NaN           Arlington    MA       2474  -503.00  2008-04-21            32     Nystrom, Michael
79          Muse         Nina          Jo           2915 Toro Canyon Rd               NaN              Austin    TX      78746   -50.00  2008-04-21            32           Muse, Nina
80       Waddell        James          L.             1823 Spel Lane SW               NaN           Rochester    MN      55902   -28.00  2008-04-21            32       Waddell, James
81        Brucks      William          C.                    PO Box 391               NaN      Corona del Mar    CA      92625  -150.00  2008-04-21            32      Brucks, William
82         Kuehn        David         NaN        14502 West 93rd Street               NaN              Lenexa    KS      66215  -330.00  2008-04-21            32         Kuehn, David
83       Verster     Jeanette          M.               7220 SW 61st St               NaN               Miami    FL  331431807 -1000.00  2008-04-21            32    Verster, Jeanette
84       Uihlein      Richard         NaN            1396 N Waukegan Rd               NaN         Lake Forest    IL  600451147 -2300.00  2008-04-21            32     Uihlein, Richard
85    Eskenberry       Robert           P                10960 Gray Cir               NaN         Westminster    CO      80020  -223.00  2008-04-21            32   Eskenberry, Robert
86     Froehling         Alan          L.               302 Broadway St               NaN        Mount Vernon    IL  628645116  -844.80  2008-04-21            32      Froehling, Alan
87        Duryea       Marcia          A.               123 Bayview Ave               NaN          Amityville    NY      11701  -299.50  2008-04-21            32       Duryea, Marcia
88     Perreault       Louise         NaN     503 Brockridge Hunt Drive               NaN             Hampton    VA      23666   -34.08  2008-04-21            32    Perreault, Louise
89     Rozenfeld        Timur         NaN               57 Herbert Road               NaN        Robbinsville    NJ       8691  -777.95  2008-04-21            32     Rozenfeld, Timur
90         Kazor  Christopher           M           707 Spindletree ave               NaN          Naperville    IL      60565 -2592.00  2008-04-21            32   Kazor, Christopher
91        Lehner       Thomas          S.                2701 Star Lane               NaN           Wadsworth    OH      44281  -200.00  2008-04-21            32       Lehner, Thomas
92       Plummer       Joseph         NaN             587 Blake Hill Rd               NaN         New Hampton    NH   32564424   -24.60  2008-04-21            32      Plummer, Joseph
93        Raught       Philip           M                 4714 Plum Way               NaN          Pittsburgh    PA      15201 -1046.00  2008-04-21            32                    X
94       Ferrara       Judith           D           1508 Waterford Road               NaN             Yardley    PA      19067 -1100.00  2008-04-21            32                    X
95       Johnson     Cathleen          E.       1003 Justin Ln Apt 2016               NaN              Austin    TX  787572648   -14.76  2008-04-21            32    Johnson, Cathleen
96       Sanford      Bradley         NaN               940 Post St #43               NaN       San Francisco    CA      94109   -24.53  2008-04-21            32     Sanford, Bradley
97       Gaarder        Bruce         NaN                   PO Box 4085               NaN   Mountain Home AFB    ID      83648  -261.00  2008-04-21            32       Gaarder, Bruce
98          Choe    Hyeokchan         NaN                207 Bridle Way               NaN            Fort Lee    NJ   70246302   -39.50  2008-04-21            32      Choe, Hyeokchan
99        Jacobs      Richard          G.                14337 Tawya Rd               NaN        Apple Valley    CA  923075545 -1000.00  2008-04-21            32      Jacobs, Richard
100     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-08            34    Aaronson, Rebecca
101       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34       Aarons, Elaine
102       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34       Aarons, Elaine
103       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34       Aarons, Elaine
104        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311    50.00  2008-02-29            34       Aaron, Shirley
105        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-29            34       Aaron, Shirley
106     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-14            34    Aaronson, Rebecca
107        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-24            34       Aaron, Shirley

In [56]:
# 3.

del dfcontr['name']
dfcontr

       last_name   first_name middle_name                      street_1          street_2                city state        zip   amount        date  candidate_id
0           Agee       Steven         NaN        549 Laurel Branch Road               NaN               Floyd    VA      24091   500.00  2007-06-30            16
1         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   250.00  2007-05-16            16
2         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566    50.00  2007-06-18            16
3         Ahrens          Don         NaN          4034 Rennellwood Way               NaN          Pleasanton    CA      94566   100.00  2007-06-21            16
4           Akin      Charles         NaN        10187 Sugar Creek Road               NaN         Bentonville    AR      72712   100.00  2007-06-16            16
5           Akin         Mike         NaN              181 Baywood Lane               NaN          Monticello    AR      71655  1500.00  2007-05-18            16
6           Akin      Rebecca         NaN              181 Baywood Lane               NaN          Monticello    AR      71655   500.00  2007-05-18            16
7       Aldridge      Brittni         NaN  808 Capitol Square Place, SW               NaN          Washington    DC      20024   250.00  2007-06-06            16
8          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1000.00  2007-06-11            16
9          Allen      John D.         NaN        1052 Cannon Mill Drive               NaN       North Augusta    SC      29860  1300.00  2007-06-29            16
10       Allison      John W.         NaN                 P.O. Box 1089               NaN              Conway    AR      72033  1000.00  2007-05-18            16
11       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227  1000.00  2007-04-25            16
12       Allison      Rebecca         NaN             3206 Summit Court               NaN         Little Rock    AR      72227   200.00  2007-06-12            16
13         Altes         R.D.         NaN               8600 Moody Road               NaN          Fort Smith    AR      72903  2300.00  2007-06-21            16
14        Andres         Dale         NaN          1160 Glen Oaks Drive               NaN     West Des Moines    IA      50266   250.00  2007-06-06            16
15       Anthony         John         NaN         211 Long Island Drive               NaN         Hot Springs    AR      71913  2300.00  2007-06-12            16
16      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   500.00  2007-04-08            16
17      Arbogast       Robert         NaN       12900 State Route 56 SE               NaN      Mount Sterling    OH      43143   100.00  2007-06-22            16
18         Ardle      William         NaN             412 Dakota Avenue               NaN         Springfield    OH      45504    50.00  2007-06-28            16
19          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-05-18            16
20          Atiq         Omar         NaN           7200 S Hazel Street               NaN          Pine Bluff    AR      71603  1000.00  2007-06-27            16
21         Baker        David         NaN        2550 Adamsbrooke Drive               NaN              Conway    AR      72034  2300.00  2007-04-11            16
22      Bancroft        David         NaN         2934 Broderick Street               NaN       San Francisco    CA      94123   250.00  2007-04-24            16
23         Banks      Charles         NaN               P.O. Box 251310               NaN         Little Rock    AR      72225  1000.00  2007-05-14            16
24        Barbee         John         NaN          516 Kellyridge Drive               NaN                Apex    NC      27502   500.00  2007-05-23            16
25       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    50.00  2007-07-30            20
26       Buckler        Steve         NaN               24351 Armada Dr               NaN          Dana Point    CA  926291306    25.00  2007-08-16            20
27      Buckheit        Bruce         NaN                 8904 KAREN DR               NaN             FAIRFAX    VA  220312731   100.00  2007-09-19            20
28        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  2300.00  2007-08-14            20
29        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130 -2300.00  2007-08-14            20
30        Buckel        Linda         NaN                 PO Box 683130               NaN           Park City    UT  840683130  4600.00  2007-08-14            20
31          Buck       Thomas         NaN           4206 Terrace Street               NaN         Kansas City    MO      64111   100.00  2007-09-25            20
32          Buck          Jay          K.   1855 Old Willow Rd Unit 322               NaN          Northfield    IL  600932918   200.00  2007-09-12            20
33          Buck       Blaine           M                  45 Eaton Ave               NaN              Camden    ME   48431752  2300.00  2007-09-30            20
34          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-09-13            20
35          Buck      Barbara         NaN              1780 NE 138th St               NaN         North Miami    FL  331811316    50.00  2007-07-19            20
36       Buchman       Mark M         NaN               2530 Lawton Ave               NaN     San Luis Obispo    CA  934015622   460.80  2007-07-18            20
37        Bucher          Ida           M              1400 Warnall Ave               NaN         Los Angeles    CA  900245333   100.00  2007-07-10            20
38      Buchanek    Elizabeth         NaN              7917 Kentbury Dr               NaN            Bethesda    MD  208144615    50.00  2007-09-30            20
39      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
40      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -500.00  2007-09-24            20
41      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-09-24            20
42      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   700.00  2007-08-28            20
43      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  -700.00  2007-08-28            20
44      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1000.00  2007-08-28            20
45      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303  1300.00  2007-08-09            20
46      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   200.00  2007-08-14            20
47      Buchanan         John         NaN               2025 NW 29th Rd               NaN          Boca Raton    FL  334316303   500.00  2007-07-25            20
48      Buchanan         John         NaN               4635 49th St NW               NaN          Washington    DC  200164320   200.09  2007-09-23            20
49      Harrison         Ryan         NaN                   2247 3rd St               NaN            La Verne    CA  917504918    25.00  2007-07-26            20
50         BYNUM      HERBERT         NaN            332 SUNNYSIDE ROAD               NaN               TAMPA    FL  336177249  -500.00  2008-03-10            22
51      BYINGTON     MARGARET          E.     2633 MIDDLEBORO LANE N.E.               NaN        GRAND RAPIDS    MI  495061254 -2300.00  2008-03-03            22
52         BYERS          BOB          A.          13170 TELFAIR AVENUE               NaN              SYLMAR    CA  913423573 -2300.00  2008-03-07            22
53         BYERS       AUDREY         NaN             2658 LADBROOK WAY               NaN       THOUSAND OAKS    CA  913615073  -200.00  2008-03-07            22
54          BUSH      KRYSTIE         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
55          BUSH         ERIC         NaN                P.O. BOX 61046               NaN              DENVER    CO  802061046 -2300.00  2008-03-06            22
56        BURTON        SUSAN         NaN         9338 DEER CREEK DRIVE               NaN               TAMPA    FL  336472286 -2300.00  2008-03-05            22
57        BURTON       STEVEN          G.         9938 DEER CREEK DRIVE               NaN               TAMPA    FL      33647 -2300.00  2008-03-05            22
58        BURTON        GLENN          M.         4404 CHARLESTON COURT               NaN               TAMPA    FL  336092620 -2300.00  2008-03-05            22
59     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
60     BURKHARDT        CRAIG          S.          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503 -1000.00  2008-03-07            22
61     BURKHARDT      BARBARA         NaN          910 15TH STREET N.W.               NaN          WASHINGTON    DC  200052503  -500.00  2008-03-07            22
62         BURKE      SUZANNE          M.                 3401 EVANSTON               NaN             SEATTLE    WA  981038677  -700.00  2008-03-05            22
63         BURKE         GAIL         NaN            165 E. 32ND STREET      APARTMENT 9E            NEW YORK    NY  100166014 -2000.00  2008-03-05            22
64         BURKE       DONALD          J.                     12 LOMPOC               NaN  RANCHO SANTA MARGA    CA  926881817 -2300.00  2008-03-11            22
65       BURGERT       RONALD          L.           5723 PLUMTREE DRIVE               NaN              DALLAS    TX  752524926 -1000.00  2008-03-05            22
66          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473  -800.00  2008-03-10            22
67          BULL       BARTLE          B.            439 E. 51ST STREET               NaN            NEW YORK    NY  100226473 -1000.00  2008-03-10            22
68      BUKOWSKI       DANIEL          J.          702 S. WRIGHT STREET               NaN          NAPERVILLE    IL  605406736  -100.00  2008-03-10            22
69       BUISSON     MARGARET          A.               P.O. BOX 197029               NaN          LOUISVILLE    KY  402597029  -200.00  2008-03-11            22
70       BUCKLEY       WALTER          W.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
71       BUCKLEY     MARJORIE          B.             1635 COUNTRY ROAD               NaN           BETHLEHEM    PA  180155718  -100.00  2008-03-05            22
72         BRUNO         JOHN         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
73         BRUNO        IRENE         NaN  10136 WINDERMERE CHASE BLVD.               NaN               GOTHA    FL  347344707 -2300.00  2008-03-06            22
74         BROWN      TIMOTHY          J.           26826 MARLOWE COURT               NaN     STEVENSON RANCH    CA  913811020 -2300.00  2008-03-06            22
75        Schuff        Bryan         NaN              1700 W Sweden Rd               NaN           Brockport    NY      14420   -25.00  2008-08-22            32
76         Hobbs        James         NaN               229 Cherry Lane               NaN         White House    TN      37188   -25.00  2008-08-19            32
77     Ranganath        Anoop         NaN            2507 Willard Drive               NaN     Charlottesville    VA      22903  -100.00  2008-04-21            32
78       Nystrom      Michael           A           93A Fairmont Street               NaN           Arlington    MA       2474  -503.00  2008-04-21            32
79          Muse         Nina          Jo           2915 Toro Canyon Rd               NaN              Austin    TX      78746   -50.00  2008-04-21            32
80       Waddell        James          L.             1823 Spel Lane SW               NaN           Rochester    MN      55902   -28.00  2008-04-21            32
81        Brucks      William          C.                    PO Box 391               NaN      Corona del Mar    CA      92625  -150.00  2008-04-21            32
82         Kuehn        David         NaN        14502 West 93rd Street               NaN              Lenexa    KS      66215  -330.00  2008-04-21            32
83       Verster     Jeanette          M.               7220 SW 61st St               NaN               Miami    FL  331431807 -1000.00  2008-04-21            32
84       Uihlein      Richard         NaN            1396 N Waukegan Rd               NaN         Lake Forest    IL  600451147 -2300.00  2008-04-21            32
85    Eskenberry       Robert           P                10960 Gray Cir               NaN         Westminster    CO      80020  -223.00  2008-04-21            32
86     Froehling         Alan          L.               302 Broadway St               NaN        Mount Vernon    IL  628645116  -844.80  2008-04-21            32
87        Duryea       Marcia          A.               123 Bayview Ave               NaN          Amityville    NY      11701  -299.50  2008-04-21            32
88     Perreault       Louise         NaN     503 Brockridge Hunt Drive               NaN             Hampton    VA      23666   -34.08  2008-04-21            32
89     Rozenfeld        Timur         NaN               57 Herbert Road               NaN        Robbinsville    NJ       8691  -777.95  2008-04-21            32
90         Kazor  Christopher           M           707 Spindletree ave               NaN          Naperville    IL      60565 -2592.00  2008-04-21            32
91        Lehner       Thomas          S.                2701 Star Lane               NaN           Wadsworth    OH      44281  -200.00  2008-04-21            32
92       Plummer       Joseph         NaN             587 Blake Hill Rd               NaN         New Hampton    NH   32564424   -24.60  2008-04-21            32
93        Raught       Philip           M                 4714 Plum Way               NaN          Pittsburgh    PA      15201 -1046.00  2008-04-21            32
94       Ferrara       Judith           D           1508 Waterford Road               NaN             Yardley    PA      19067 -1100.00  2008-04-21            32
95       Johnson     Cathleen          E.       1003 Justin Ln Apt 2016               NaN              Austin    TX  787572648   -14.76  2008-04-21            32
96       Sanford      Bradley         NaN               940 Post St #43               NaN       San Francisco    CA      94109   -24.53  2008-04-21            32
97       Gaarder        Bruce         NaN                   PO Box 4085               NaN   Mountain Home AFB    ID      83648  -261.00  2008-04-21            32
98          Choe    Hyeokchan         NaN                207 Bridle Way               NaN            Fort Lee    NJ   70246302   -39.50  2008-04-21            32
99        Jacobs      Richard          G.                14337 Tawya Rd               NaN        Apple Valley    CA  923075545 -1000.00  2008-04-21            32
100     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-08            34
101       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    25.00  2008-02-26            34
102       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300    70.00  2008-02-25            34
103       Aarons       Elaine         NaN    481 Buck Island Rd Apt 17A           APT 17A       West Yarmouth    MA   26733300   100.00  2008-02-08            34
104        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311    50.00  2008-02-29            34
105        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-29            34
106     Aaronson      Rebecca         NaN  2000 Village Green Dr Apt 12               NaN          Mill Creek    WA  980125787   100.00  2008-02-14            34
107        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-24            34
108        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-22            34
109        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-17            34
110         Reid    Elizabeth         NaN                73 W Patent Rd  OPHIR FARM NORTH       Bedford Hills    NY  105072222  -350.00  2008-08-28            34
111        Reich       Thomas         NaN                  499 Park Ave               NaN            New York    NY  100221240 -2300.00  2008-08-28            34
112        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-08            34
113        Aaron      Shirley         NaN                101 Cherry Ave               NaN              Havana    FL  323331311   100.00  2008-02-03            34
114        Aaron      Sharron         NaN          1804 E Montgomery St               NaN        Broken Arrow    OK  740121840   500.00  2008-02-09            34
115        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   200.00  2008-02-26            34
116        Aaron     Patricia         NaN                418 NW 35th St               NaN       Oklahoma City    OK  731188602   100.00  2008-02-12            34
117        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   300.00  2008-02-07            34
118        Aaron          Jim         NaN              2178 Fairway Cir               NaN              Canton    MI  481885097   200.00  2008-02-29            34
119        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806    70.00  2008-02-29            34
120        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806    50.00  2008-02-07            34
121        Aaron       Carole         NaN                   PO Box 1806               NaN            Ogunquit    ME   39071806   100.00  2008-02-03            34

## Aggregation

We'd like to get information about the tables such as the maximum amount
contributed to the candidates.  Basic statistics on a `pandas` frame can be
obtained using the `describe()` method:

In [26]:
dfcand.describe()

              id
count  17.000000
mean   30.764706
std     7.110990
min    16.000000
25%    26.000000
50%    32.000000
75%    36.000000
max    41.000000

It's not very interesting with the candidates table because the candidates table
only has one numeric column. Here are a few more data queries using the
contributors table:

In [27]:
dfcontr.amount.max()

4600.0

In [28]:
dfcontr[dfcontr.amount==dfcontr.amount.max()]

   last_name first_name middle_name       street_1 street_2       city state        zip  amount        date  candidate_id
30    Buckel      Linda         NaN  PO Box 683130      NaN  Park City    UT  840683130  4600.0  2007-08-14            20

In [29]:
dfcontr.groupby("state").sum()

               zip    amount  candidate_id
state
AK      2985459621   1210.00           111
AR          864790  14200.00           192
AZ       860011121    120.00            37
CA     14736360720  -5013.73           600
CO      2405477834  -5823.00           111
CT        68901376   2300.00            35
DC       800341853  -1549.91           102
FL      8970626520  -4050.00           803
IA           50266    250.00            16
ID           83648   -261.00            32
IL      3042068689  -5586.80           175
KS           66215   -330.00            32
KY       402597029   -200.00            22
LA      1406043327   1300.00            74
MA       123026638    -83.00           208
MD       416287617    300.00            55
ME       165647170   2520.00           122
MI      2426973485  -1265.00           164
MN      1102338918    322.00           100
MO           64111    100.00            20
NC           27502    500.00            16
NH        32564424    -24.60            32
NJ        70254993   -817.45            64
NV      3575889763    725.00           144
NY       606129991  -6474.50           233
OH          176071    450.00            80
OK      2202499044    800.00           102
PA       540499020  -2146.00           145
RI        58065892    200.00            70
SC       296214789   2400.00            69
TN           37188    -25.00            32
TX      6221452245   1985.24           302
UT      9251153394   5050.00           340
VA       440691831    515.92           135
WA      2941290251   -500.00            90

In [30]:
dfcontr.groupby("state")["amount"].sum()

state
AK     1210.00
AR    14200.00
AZ      120.00
CA    -5013.73
CO    -5823.00
CT     2300.00
DC    -1549.91
FL    -4050.00
IA      250.00
ID     -261.00
IL    -5586.80
KS     -330.00
KY     -200.00
LA     1300.00
MA      -83.00
MD      300.00
ME     2520.00
MI    -1265.00
MN      322.00
MO      100.00
NC      500.00
NH      -24.60
NJ     -817.45
NV      725.00
NY    -6474.50
OH      450.00
OK      800.00
PA    -2146.00
RI      200.00
SC     2400.00
TN      -25.00
TX     1985.24
UT     5050.00
VA      515.92
WA     -500.00
Name: amount, dtype: float64

In [31]:
dfcontr.state.unique()

array(['VA', 'CA', 'AR', 'DC', 'SC', 'IA', 'OH', 'NC', 'UT', 'MO', 'IL',
       'ME', 'FL', 'MD', 'MI', 'CO', 'WA', 'NY', 'TX', 'KY', 'PA', 'TN',
       'MA', 'MN', 'KS', 'NJ', 'NH', 'ID', 'OK', nan, 'NV', 'CT', 'RI',
       'AK', 'LA', 'AZ'], dtype=object)

There is also a version of the `LIMIT` clause in `SQL`.  It's very intuitive
using `pandas` in `python`:

In [32]:
dfcand[0:3]

   id first_name  last_name middle_name party
0  33     Joseph      Biden         NaN     D
1  36     Samuel  Brownback         NaN     R
2  34    Hillary    Clinton          R.     D

The usual `python` slicing works just fine!

## Exercise

Use the `describe()` method on the `contributors` table.

In [58]:
dfcontr.describe()

                zip       amount  candidate_id
count  1.750000e+02   175.000000    175.000000
mean   3.780014e+08     3.418114     28.000000
std    3.628278e+08  1028.418999      7.823484
min    2.474000e+03 -2592.000000     16.000000
25%    9.336700e+04  -175.000000     20.000000
50%    3.233313e+08   100.000000     32.000000
75%    7.816946e+08   300.000000     35.000000
max    9.951532e+08  4600.000000     37.000000

## Joins with `pandas`

`pandas` has some some documentation on `joins`:  [Merge, join, and
concatenate](http://pandas.pydata.org/pandas-docs/stable/merging.html).  If you
want some more reinforcement on the concepts from earlier regarding `JOIN`, then
the `pandas` documentation may be a good place to get it.

You may also be interested in [a comparison with
`SQL`](http://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html#compare-with-sql-join).

> To do joins with `pandas`, we use the `merge` method.

Here's an example of an explicit inner join:

In [33]:
cols_wanted = ['last_name_x', 'first_name_x', 'candidate_id', 'id', 'last_name_y', 'amount']
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted]

     last_name_x first_name_x  candidate_id  id last_name_y   amount
0           Agee       Steven            16  16    Huckabee   500.00
1         Ahrens          Don            16  16    Huckabee   250.00
2         Ahrens          Don            16  16    Huckabee    50.00
3         Ahrens          Don            16  16    Huckabee   100.00
4           Akin      Charles            16  16    Huckabee   100.00
5           Akin         Mike            16  16    Huckabee  1500.00
6           Akin      Rebecca            16  16    Huckabee   500.00
7       Aldridge      Brittni            16  16    Huckabee   250.00
8          Allen      John D.            16  16    Huckabee  1000.00
9          Allen      John D.            16  16    Huckabee  1300.00
10       Allison      John W.            16  16    Huckabee  1000.00
11       Allison      Rebecca            16  16    Huckabee  1000.00
12       Allison      Rebecca            16  16    Huckabee   200.00
13         Altes         R.D.            16  16    Huckabee  2300.00
14        Andres         Dale            16  16    Huckabee   250.00
15       Anthony         John            16  16    Huckabee  2300.00
16      Arbogast       Robert            16  16    Huckabee   500.00
17      Arbogast       Robert            16  16    Huckabee   100.00
18         Ardle      William            16  16    Huckabee    50.00
19          Atiq         Omar            16  16    Huckabee  1000.00
20          Atiq         Omar            16  16    Huckabee  1000.00
21         Baker        David            16  16    Huckabee  2300.00
22      Bancroft        David            16  16    Huckabee   250.00
23         Banks      Charles            16  16    Huckabee  1000.00
24        Barbee         John            16  16    Huckabee   500.00
25       Buckler        Steve            20  20       Obama    50.00
26       Buckler        Steve            20  20       Obama    25.00
27      Buckheit        Bruce            20  20       Obama   100.00
28        Buckel        Linda            20  20       Obama  2300.00
29        Buckel        Linda            20  20       Obama -2300.00
30        Buckel        Linda            20  20       Obama  4600.00
31          Buck       Thomas            20  20       Obama   100.00
32          Buck          Jay            20  20       Obama   200.00
33          Buck       Blaine            20  20       Obama  2300.00
34          Buck      Barbara            20  20       Obama    50.00
35          Buck      Barbara            20  20       Obama    50.00
36       Buchman       Mark M            20  20       Obama   460.80
37        Bucher          Ida            20  20       Obama   100.00
38      Buchanek    Elizabeth            20  20       Obama    50.00
39      Buchanan         John            20  20       Obama   500.00
40      Buchanan         John            20  20       Obama  -500.00
41      Buchanan         John            20  20       Obama   500.00
42      Buchanan         John            20  20       Obama   700.00
43      Buchanan         John            20  20       Obama  -700.00
44      Buchanan         John            20  20       Obama  1000.00
45      Buchanan         John            20  20       Obama  1300.00
46      Buchanan         John            20  20       Obama   200.00
47      Buchanan         John            20  20       Obama   500.00
48      Buchanan         John            20  20       Obama   200.09
49      Harrison         Ryan            20  20       Obama    25.00
50         BYNUM      HERBERT            22  22    Giuliani  -500.00
51      BYINGTON     MARGARET            22  22    Giuliani -2300.00
52         BYERS          BOB            22  22    Giuliani -2300.00
53         BYERS       AUDREY            22  22    Giuliani  -200.00
54          BUSH      KRYSTIE            22  22    Giuliani -2300.00
55          BUSH         ERIC            22  22    Giuliani -2300.00
56        BURTON        SUSAN            22  22    Giuliani -2300.00
57        BURTON       STEVEN            22  22    Giuliani -2300.00
58        BURTON        GLENN            22  22    Giuliani -2300.00
59     BURKHARDT        CRAIG            22  22    Giuliani  -500.00
60     BURKHARDT        CRAIG            22  22    Giuliani -1000.00
61     BURKHARDT      BARBARA            22  22    Giuliani  -500.00
62         BURKE      SUZANNE            22  22    Giuliani  -700.00
63         BURKE         GAIL            22  22    Giuliani -2000.00
64         BURKE       DONALD            22  22    Giuliani -2300.00
65       BURGERT       RONALD            22  22    Giuliani -1000.00
66          BULL       BARTLE            22  22    Giuliani  -800.00
67          BULL       BARTLE            22  22    Giuliani -1000.00
68      BUKOWSKI       DANIEL            22  22    Giuliani  -100.00
69       BUISSON     MARGARET            22  22    Giuliani  -200.00
70       BUCKLEY       WALTER            22  22    Giuliani  -100.00
71       BUCKLEY     MARJORIE            22  22    Giuliani  -100.00
72         BRUNO         JOHN            22  22    Giuliani -2300.00
73         BRUNO        IRENE            22  22    Giuliani -2300.00
74         BROWN      TIMOTHY            22  22    Giuliani -2300.00
75        Schuff        Bryan            32  32        Paul   -25.00
76         Hobbs        James            32  32        Paul   -25.00
77     Ranganath        Anoop            32  32        Paul  -100.00
78       Nystrom      Michael            32  32        Paul  -503.00
79          Muse         Nina            32  32        Paul   -50.00
80       Waddell        James            32  32        Paul   -28.00
81        Brucks      William            32  32        Paul  -150.00
82         Kuehn        David            32  32        Paul  -330.00
83       Verster     Jeanette            32  32        Paul -1000.00
84       Uihlein      Richard            32  32        Paul -2300.00
85    Eskenberry       Robert            32  32        Paul  -223.00
86     Froehling         Alan            32  32        Paul  -844.80
87        Duryea       Marcia            32  32        Paul  -299.50
88     Perreault       Louise            32  32        Paul   -34.08
89     Rozenfeld        Timur            32  32        Paul  -777.95
90         Kazor  Christopher            32  32        Paul -2592.00
91        Lehner       Thomas            32  32        Paul  -200.00
92       Plummer       Joseph            32  32        Paul   -24.60
93        Raught       Philip            32  32        Paul -1046.00
94       Ferrara       Judith            32  32        Paul -1100.00
95       Johnson     Cathleen            32  32        Paul   -14.76
96       Sanford      Bradley            32  32        Paul   -24.53
97       Gaarder        Bruce            32  32        Paul  -261.00
98          Choe    Hyeokchan            32  32        Paul   -39.50
99        Jacobs      Richard            32  32        Paul -1000.00
100     Aaronson      Rebecca            34  34     Clinton   100.00
101       Aarons       Elaine            34  34     Clinton    25.00
102       Aarons       Elaine            34  34     Clinton    70.00
103       Aarons       Elaine            34  34     Clinton   100.00
104        Aaron      Shirley            34  34     Clinton    50.00
105        Aaron      Shirley            34  34     Clinton   100.00
106     Aaronson      Rebecca            34  34     Clinton   100.00
107        Aaron      Shirley            34  34     Clinton   100.00
108        Aaron      Shirley            34  34     Clinton   100.00
109        Aaron      Shirley            34  34     Clinton   100.00
110         Reid    Elizabeth            34  34     Clinton  -350.00
111        Reich       Thomas            34  34     Clinton -2300.00
112        Aaron      Shirley            34  34     Clinton   100.00
113        Aaron      Shirley            34  34     Clinton   100.00
114        Aaron      Sharron            34  34     Clinton   500.00
115        Aaron     Patricia            34  34     Clinton   200.00
116        Aaron     Patricia            34  34     Clinton   100.00
117        Aaron          Jim            34  34     Clinton   300.00
118        Aaron          Jim            34  34     Clinton   200.00
119        Aaron       Carole            34  34     Clinton    70.00
120        Aaron       Carole            34  34     Clinton    50.00
121        Aaron       Carole            34  34     Clinton   100.00
122        Aaron      Barbara            34  34     Clinton  1000.00
123     Aanonsen          Lin            34  34     Clinton   250.00
124     Aanonsen          Lin            34  34     Clinton   100.00
125       BOURNE       TRAVIS            35  35      Romney  -500.00
126      SECRIST        BRIAN            35  35      Romney -1000.00
127   TOLLESTRUP       TRAVIS            35  35      Romney -1000.00
128       ACCORD         DEAN            35  35      Romney   500.00
129         ABTS        HENRY            35  35      Romney   100.00
130      ABSHIER        LANNY            35  35      Romney   500.00
131      ABSHIER        DIANA            35  35      Romney   500.00
132        ABREU        KEVIN            35  35      Romney    50.00
133        ABREU        KEVIN            35  35      Romney   150.00
134        ABREU        KEVIN            35  35      Romney    50.00
135   ABRAMOWITZ         NIRA            35  35      Romney  2300.00
136       ABRAMS      MICHAEL            35  35      Romney   250.00
137   ABRAMOWITZ          KEN            35  35      Romney   300.00
138   ABOUBAKARE        NASAR            35  35      Romney  1000.00
139        ABEGG     PATRICIA            35  35      Romney    75.00
140        ABEGG     PATRICIA            35  35      Romney    25.00
141        ABEGG     PATRICIA            35  35      Romney    75.00
142        ABEGG     PATRICIA            35  35      Romney    75.00
143        ABEGG     PATRICIA            35  35      Romney    25.00
144        ABEGG     PATRICIA            35  35      Romney    25.00
145      ABDELLA       THOMAS            35  35      Romney    50.00
146       ABBOTT       WELDON            35  35      Romney   100.00
147       ABBOTT       WELDON            35  35      Romney    50.00
148       ABBOTT       GERALD            35  35      Romney   100.00
149       ABBOTT       GERALD            35  35      Romney   100.00
150       ABEDIN       ZAINUL            37  37      McCain   500.00
151       ABBOTT        SYBIL            37  37      McCain    75.00
152       ABBOTT        SYBIL            37  37      McCain    50.00
153       ABBOTT       RONALD            37  37      McCain   200.00
154       ABBOTT       RONALD            37  37      McCain   100.00
155       ABBOTT       ROBERT            37  37      McCain   500.00
156       ABBOTT         MIKE            37  37      McCain  1000.00
157        ABBOT        DAVID            37  37      McCain   200.00
158         ABBO      PAULINE            37  37      McCain    35.00
159        ABATE        MARIA            37  37      McCain  2600.00
160        ABAIR        PETER            37  37      McCain    25.00
161    ABACHERLI      SHIRLEY            37  37      McCain   150.00
162       AARONS      CHARLES            37  37      McCain   300.00
163       AARONS      CHARLES            37  37      McCain   410.00
164       AARONS      CHARLES            37  37      McCain   500.00
165         ABEL         JOHN            37  37      McCain   200.00
166         ABEL      MARLING            37  37      McCain   100.00
167         ABEL      RUDOLPH            37  37      McCain   100.00
168        ABELE       RODNEY            37  37      McCain   500.00
169  ABERCROMBIE        DENIS            37  37      McCain   500.00
170     ABESHAUS      MERRILL            37  37      McCain   120.00
171      ABRAHAM       GEORGE            37  37      McCain   800.00
172   ABRAHAMSON        PETER            37  37      McCain    50.00
173      ABRAHAM        SALEM            37  37      McCain  1000.00
174      ABRAHAM        SALEM            37  37      McCain  1300.00

Somewhat more organized with additional grouping and description of resulting
data frame:

In [34]:
dfcontr.merge(dfcand, left_on="candidate_id", right_on="id")[cols_wanted].groupby('last_name_y').describe()

            candidate_id                                             id                                          amount
                   count  mean  std   min   25%   50%   75%   max count  mean  std   min   25%   50%   75%   max  count       mean          std     min     25%     50%      75%      max
last_name_y
Clinton             25.0  34.0  0.0  34.0  34.0  34.0  34.0  34.0  25.0  34.0  0.0  34.0  34.0  34.0  34.0  34.0   25.0    50.6000   538.764636 -2300.0    70.0   100.0   100.00  1000.00
Giuliani            25.0  22.0  0.0  22.0  22.0  22.0  22.0  22.0  25.0  22.0  0.0  22.0  22.0  22.0  22.0  22.0   25.0 -1360.0000   934.077085 -2300.0 -2300.0 -1000.0  -500.00  -100.00
Huckabee            25.0  16.0  0.0  16.0  16.0  16.0  16.0  16.0  25.0  16.0  0.0  16.0  16.0  16.0  16.0  16.0   25.0   772.0000   714.008637    50.0   250.0   500.0  1000.00  2300.00
McCain              25.0  37.0  0.0  37.0  37.0  37.0  37.0  37.0  25.0  37.0  0.0  37.0  37.0  37.0  37.0  37.0   25.0   452.6000   565.549364    25.0   100.0   200.0   500.00  2600.00
Obama               25.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0  25.0  20.0  0.0  20.0  20.0  20.0  20.0  20.0   25.0   472.4356  1233.114920 -2300.0    50.0   200.0   500.00  4600.00
Paul                25.0  32.0  0.0  32.0  32.0  32.0  32.0  32.0  25.0  32.0  0.0  32.0  32.0  32.0  32.0  32.0   25.0  -519.7088   693.111403 -2592.0  -844.8  -223.0   -34.08   -14.76
Romney              25.0  35.0  0.0  35.0  35.0  35.0  35.0  35.0  25.0  35.0  0.0  35.0  35.0  35.0  35.0  35.0   25.0   156.0000   609.827503 -1000.0    50.0    75.0   250.00  2300.00

### Other Joins with `pandas`

We didn't cover all possible joins because `SQLite` can only handle the few that
we did discuss.  As mentioned, there are workarounds for some things in
`SQLite`, but not everything.  Fortunately, `pandas` can handle pretty much
everything.  Here are a few joins that `pandas` can handle:

* `LEFT OUTER`: discussed above
* `RIGHT OUTER`: think of the "opposite" of a `LEFT OUTER` join (shade the
  intersection and *right* set in the Venn diagram).
* `FULL OUTER`: combine everything from both tables (shade the entire Venn
  diagram)

Lets build the tables from the join exercise above in `pandas`:

In [35]:
df_A = pd.DataFrame({
    'nA': ['s1', 's2', 's3', 's4'],
    'attr': [23, 7, 15, 31],
    'idA': [0, 2, 3, 7]
})

df_B = pd.DataFrame({
    'nB': ['t1', 't2', 't3'],
    'attr': [60, 14, 22],
    'idB': [0, 7, 2]
})

#### Left Outer Join with `pandas`

In [36]:
df_A.merge(df_B, left_on='idA', right_on='idB', how='left')

   nA  attr_x  idA   nB  attr_y  idB
0  s1      23    0   t1    60.0  0.0
1  s2       7    2   t3    22.0  2.0
2  s3      15    3  NaN     NaN  NaN
3  s4      31    7   t2    14.0  7.0

#### Right Outer Join with `pandas`

In [37]:
df_A.merge(df_B, left_on='idA', right_on='idB', how='right')

   nA  attr_x  idA  nB  attr_y  idB
0  s1      23    0  t1      60    0
1  s4      31    7  t2      14    7
2  s2       7    2  t3      22    2

#### Full Outer Join with `pandas`

In [38]:
df_A.merge(df_B, left_on='idA', right_on='idB', how='outer')

   nA  attr_x  idA   nB  attr_y  idB
0  s1      23    0   t1    60.0  0.0
1  s2       7    2   t3    22.0  2.0
2  s3      15    3  NaN     NaN  NaN
3  s4      31    7   t2    14.0  7.0

# Save our databases

Commit the changes to the open `SQL` databases and close them.  Well done!

In [39]:
db.commit()
dbp.commit()
db.close()
dbp.close()